// Form Input
// ----------

@use 'variables' as form-input;

@use '../../html/form-label' as form-label;
@use '../../html/form-help-text' as form-help-text;
@include form-label.form-label;
@include form-help-text.form-help-text;

// Custom element
.fc-form-input {
  display: block;
}

// Input wrapper
.fc-input-wrapper {
  display: flex;
  flex-direction: column;

  input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):not([type="submit"]) {
    display: block;
    appearance: none;
    border: form-input.$border;
    border-radius: form-input.$border-radius;
    padding: form-input.$padding;
    background-color: form-input.$bg-color;
    color: form-input.$color;
    outline: form-input.$outline;

    &:focus {
      outline-color: form-input.$outline-color-focus;
      outline-offset: calc(#{form-input.$outine-width} * -1);
    }

    &::placeholder {
      color: form-input.$placeholder-color;
    }
  }
}

// Inline input wrapper
.fc-input-inline-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .fc-input-inline-wrapper {
    // Checkbox
    input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      position: relative;
      display: inline-block;
      vertical-align: top;
      height: 1.5rem;
      margin: 0;
      border: form-input.$border;
      background-color: form-input.$bg-color;
      transition: background-color 0.3s, border-color 0.3s, box-shadow 0.2s; // CHANGE
      cursor: pointer;
      outline: none;

      &::after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform 0.3s ease, opacity 0.2s;
      }

      &:checked {
        background: var(--state-focus);
      }

      &:disabled {
        --b: var(--disabled);

        cursor: not-allowed;
        opacity: 0.9;
      }

      &:disabled + label {
        cursor: not-allowed;
      }

      &:not(.fc-form-switch) {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: var(--fc-form-input-radius, var(--ui-border-radius-01));
      }

      &:not(.fc-form-switch)::after {
        opacity: 0;
        width: 6px;
        height: 12px;
        border: 2px solid var(--black-color); /* CHANGE */
        border-top: 0;
        border-left: 0;
        left: 8px;
        top: 4px;
        transform: rotate(43deg);
      }

      &:not(.fc-form-switch):checked::after {
        opacity: 1;
      }
    }

    // Switch
    input[type="checkbox"].fc-form-switch {
      width: 42px;
      border-radius: 12px;

      &::after {
        left: 4px;
        top: 3px;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        background: var(--body-color);
      }

      &:checked::after {
        transform: translateX(17px);
      }

      &:disabled:not(:checked)::after {
        opacity: 0.6;
      }
    }

    // Radio

    input[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      position: relative;
      display: inline-block;
      outline: none;
      margin: 0;
      border: form-input.$border;
      background-color: form-input.$bg-color;
      transition: background-color 0.3s, border-color 0.3s, box-shadow 0.2s; // Change
      cursor: pointer;
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;

      &::after {
        position: absolute;
        transition: transform 0.3s ease, opacity 0.2s;
        content: "";
        top: calc(50% - 10px);
        left: calc(50% - 10px);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: var(--black-color);
        transform: scale(0.7);
        display: block;
        opacity: 0;
      }

      &:checked {
        background: var(--state-focus);
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.9;
      }

      &:disabled:checked {
        --b: var(--disabled-inner);
      }

      :disabled + label {
        cursor: not-allowed;
      }

      &:checked::after {
        transform: scale(0.5);
        opacity: 1;
      }
    }

    &:disabled:checked {
      --b: var(--disabled-inner);
    }
  }
}

// Submit
fc-input[type="submit"] fc-label,
fc-input[type="submit"] fc-help-text {
  display: none;
}

fc-input[type="submit"] .fc-form-group {
  margin: 0;
}
