<!DOCTYPE html>
{# <html lang="en" data-theme="dark"> #}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <base href="/">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <!-- component css START -->
  {% set css %}
    {% include "../components/css/content.css" %}
    {% include "../components/css/navigation.css" %}
  {% endset %}
  <style>
    {{css | safe}}
  </style>
  <!-- component css END -->
  {% cssPath cssFile | safe %}
  {# <link href="https://raw.githubusercontent.com/PrismJS/prism-themes/master/themes/prism-vsc-dark-plus.css" rel="stylesheet"> #}
  {# <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet"> #}
</head>
<body>
  <main class="[ fd-doc-layout ] [ fu-layout-pl-04 fu-layout-pr-04 fu-layout-pt-06 fu-layout-pb-06 fu-flow ]">
    <article class="[ fd-doc-article ] [ fu-flow ]">
      {{ content | safe }}
      {% bootstrap modulePath | safe %}
      {% scriptPath demoScript | safe %}
    </article>
    {% if content | toc %}
    <aside class="sticky-aside">
      <div class="fd-toc">
        <span>Table of contents</span>
        {{ content | toc| safe }}
      </div>
    </aside>
    {% endif %}
  </main>
  <script type="module" src="assets/js/doc-theme.js"></script>
</body>
</html>
