// Layout
.fd-doc-layout {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(0px, 960px) 220px;
  grid-template-areas: "breadcrumb sticky-aside" "article sticky-aside";
  column-gap: var(--spacing-xxl);
  grid-auto-rows: min-content;

  
}

.fd-doc-article {

  // content flow
  --flow-space: var(--spacing-md);

  h1:not(:first-of-type) {
    --flow-space: var(--spacing-xxxl);
  }

  h2 {
    --flow-space: var(--spacing-xxl);
  }

  h3 {
    --flow-space: var(--spacing-xl);
  }

  h4 {
    --flow-space: var(--spacing-lg);
  }

  h5,
  h6 {
    --flow-space: var(--spacing-md);
  }

  hr {
    --flow-space: var(--spacing-xxl);
  }

  & > :not(pre):not(table):not(.fd-component-container):not(hr) {
    max-width: 42rem;
  }
}


