// Layout
.fd-doc-layout {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(0px, 960px) 220px;
  grid-template-areas: "breadcrumb sticky-aside" "article sticky-aside";
  column-gap: var(--spacer-xxl);
  grid-auto-rows: min-content;

  
}

.fd-doc-article {

  // content flow
  --flow-space: var(--spacer-md);

  h1:not(:first-of-type) {
    --flow-space: var(--spacer-xxxl);
  }

  h2 {
    --flow-space: var(--spacer-xxl);
  }

  h3 {
    --flow-space: var(--spacer-xl);
  }

  h4 {
    --flow-space: var(--spacer-lg);
  }

  h5,
  h6 {
    --flow-space: var(--spacer-md);
  }

  & > :not(pre):not(table):not(.fd-component-container) {
    max-width: 42rem;
  }
}

code[class*="language-"],
pre[class*="language-"] {
  margin-top: -1px !important;
  margin-left: calc(-1 * var(--spacer-md)) !important;
  margin-right: calc(-1 * var(--spacer-md)) !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
