// body {
//   overflow: hidden;
// }

.fc-navbar {
  grid-area: header;
  position: sticky;
  top: 0;
}

.fd-main-layout {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "header"
    "sidebar"
    "content";
  min-height: 100vh;
}

@media (min-width: 36em) {
  .fd-main-layout {
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--header-height) auto;
    grid-template-areas: 
      "header header"
      "sidebar content";
   }
}
