:root {
  --sidebar-width: 300px;
}

.fd-sidebar {
  grid-area: sidebar;
  width: 100%;
  position: sticky;
  top: 76px;
  height: calc(100vh - 76px);
  max-height: calc(100vh - 76px);
  overflow-y: auto;
  background: var(--body-bg-color);
  border-right: 1px solid var(--border-color);

  --fc-nav-anchor-color-link: var(--high-emphasis-text-color)
}