table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table thead {
  background-color: var(--ui-background-02);
}

table tbody {
  background-color: var(--ui-background-01);
}

table tr {
  border-top: 1px solid var(--ui-border-03);
  margin: 0;
  padding: 0;
}

table tr td,
table tr th {
  border: 1px solid var(--ui-border-03);
  margin: 0;
  padding: 6px 13px;
}

table code {
  word-break: normal;
}