

.fd-theme-toggle {
  align-self:center;
  margin: var(--fc-button-spacing-padding-y, var(--spacing-03)) var(--fc-button-spacing-padding-x, var(--spacing-05));

  input[type="checkbox"]{
    display: none;
  }
}

.fd-theme-toggle__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80px;
  height: 40px;
  background-color: var(--ui-elevation-background-02);
  transition: transform 1s ease;
  position:relative;
  cursor:pointer;
}

.fd-theme-toggle__ball {
  width: 40px;
  height: 40px;
  background-color: var(--primary-dark-color);
  transition: transform 1s ease;
  position:absolute;
  border-radius:50%;
  border: 4px solid var(--primary-light-color);
}
.fd-theme-toggle__scenary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: transform 1s ease;
  
  .svg {
    width: 24px;
    height: 24px;

    svg{
      width: 24px;
    }
  }
}