h1,
.u-text-xxl {
  font-size: var(--text-xxl);
  line-height: var(--heading-line-height);
}

h2,
.u-text-xl {
  font-size: var(--text-xl);
  line-height: var(--heading-line-height);
}

h3,
.u-text-lg {
  font-size: var(--text-lg);
  line-height: var(--heading-line-height);
}

h4,
.u-text-md {
  font-size: var(--text-md);
  line-height: var(--heading-line-height);
}

h5,
.u-text-sm {
  font-size: var(--text-sm);
  line-height: var(--heading-line-height);
}

h6,
.u-text-xs {
  font-size: var(--text-xs);
  line-height: var(--heading-line-height);
}

p,
.u-text-base {
  line-height: var(--body-line-height);
}