@import 'reset';
@import 'functions';
@import 'settings';

$outputTokenCSS: true !default;
@import 'utilities';


@import 'root';

@import 'typography';

// @import 'components/site-header';
// @import 'components/button';

body {
  background: #fff;
  font-family: 'Ubuntu', sans-serif;
}