.fc-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  background: var(--fc-button-color-background, var(--primary-color));
  color: var(--fc-button-color-text, var(--black-color));
  background-clip: border-box;
  border: 1px solid var(--fc-button-color-border, transparent);
  border-radius: var(--fc-button-radius-border, 2px);  /* CHANGE */
  padding: var(--fc-button-spacing-padding-y, var(--spacing-03)) var(--fc-button-spacing-padding-x, var(--spacing-05));
  line-height: var(--fc-button-line-height, var(--heading-line-height));
  text-decoration: none;
  font-family: var(--font-primary);
  font-weight: 600;
  white-space: normal;
  user-select: none;
  cursor: pointer;
}

.fc-button:focus,
.fc-button:hover {
  background: var(--fc-button-color-background-hover, var(--primary-dark-color));
}

/* link button */
.fc-button.fc-button--link {
  background: transparent;
  border-color: transparent;
  
}

/* .fc-button.fc-button--link:focus,
.fc-button.fc-button--link:hover
.fc-button.fc-button--link:active
.fc-button.fc-button--link.active {
  
} */

/* neutral button */
.fc-button.fc-button--link {
  background: transparent;
  color: var(--ui-color);
}

.fc-button.fc-button--link:focus,
.fc-button.fc-button--link:hover
.fc-button.fc-button--link:active
.fc-button.fc-button--link.active {
  background: var(--fc-button-neutral-color-background-hover, var(--ui-background-01));
}