.fc-form__label {
  /* THIS NEEDS TO BE A MIXIN */
  margin-bottom: var(--spacing-02);
  font-weight: 600;
}

.fc-form__label--block {
  display: block;
}

.fc-form__textarea textarea {
  display: block;
  width: 100%;
  height: auto;
  background: var(--fc-form-textarea-color-background, var(--ui-background-01));
  border: 1px solid var(--fc-form-textarea-color-border, var(--ui-border-04));
  border-radius: var(--fc-form-textarea-radius, var(--ui-border-radius-01));
  padding: var(--spacing-05);
  color: var(--body-color); /* CHANGE */
  outline: none;
}
.fc-form__textarea textarea:focus,
.fc-form__textarea textarea:active {
  border-color: var(--primary-dark-color);
  box-shadow: 0 0 0 .1rem rgba(var(--primary-dark-color), .2);
}

.fc-form__textarea textarea::placeholder {
  color: var(--medium-emphasis-text-color)
}

/* Disabled */
.fc-form__textarea textarea:disabled {
  /* ADD DISABLED STYLES */
  cursor: not-allowed;
}

.fc-form__help-text {
  /* THIS NEEDS TO BE A MIXIN */
  margin-top: var(--spacing-01);
  font-size: var(--text-01);
  font-weight: 400;
}