.fc-form {
  display: block;
}



.fc-form__group {
  margin-bottom: var(--form-spacing);
}
.fc-form__group.fc-form__group--rc {
  margin-bottom: calc(var(--form-spacing) / 2);
}
.fc-form__group.fc-form__group--inline {
  display: inline-block;
  margin-right: calc(var(--form-spacing) / 2);
  margin-bottom: calc(var(--form-spacing) / 2);
}
.fc-form__invalid-feedback {
  margin-top: calc(var(--form-spacing) / 4);
  color: var(--form-invalid-color-rgb);
  font-size: 80%;
}
.fc-form__invalid-feedback--show + fc-help-text {
  display: none;
}