.fc-form__label {
  display: inline-block;
  margin-bottom: calc(var(--form-spacer) / 2);
  font-weight: 600;
}
.fc-form__label.fc-form__label--block {
  display: block;
}

/* reverse label */
.fc-form__input--reverse .fc-form__label {
  margin-bottom: 0;
  margin-left: calc(var(--form-spacer) / 2);
}

[label][required] label.fc-form__label::after,
form-label[required] label.fc-form__label::after {
  content: "*";
  color: var(--form-invalid-color-rgb);
  margin-left: 5px;
}

label[for] {
  cursor: pointer;
}

.fc-form__label:empty {
  display: none;
}