.fc-form-input {
  display: block;
  margin-bottom: var(--spacing-05)
}
.fc-form-input__input {
  display: flex;
  flex-direction: column;
}
.fc-form-input__input.fc-form-input__input--reverse {
  flex-direction: row-reverse;
  justify-content: start;
}
.fc-form-input__label {
  margin-bottom: var(--spacing-02);
  font-weight: 600;
}
.fc-form-input__control {
  display: block;
  appearance: none;
  background: var(--ui-elevation-background-03);
  background-image: none;
  border: 1px solid var(--ui-border-color);
  padding: var(--spacing-03);
  outline: none;
}
.fc-form-input__control:focus {
  border-color: var(--primary-dark-color);
  box-shadow: 0 0 0 .1rem rgba(var(--primary-dark-color), .2);
}
.fc-form-input__control::placeholder {
  color: var(--medium-emphasis-text-color)
}




.fc-form-input__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--form-submit-color);
  user-select: none;
  background-color: var(--form-submit-bg-color);
  border: 1px solid var(--form-submit-border-color);
  padding: var(--form-input-padding);
  width: auto;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out
}
.fc-form-input__submit:hover {
  background-color: #16336a;
  border-color: #142e60;
}
fc-input[type="submit"] fc-label,
fc-input[type="submit"] fc-help-text {
  display: none;
}
fc-input[type="submit"] .fc-form-input__group {
  margin: 0;
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .fc-form-input__check {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .fc-form-input__check:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  .fc-form-input__check:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  .fc-form-input__check:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .fc-form-input__check:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .fc-form-input__check:disabled + label {
    cursor: not-allowed;
  }
  .fc-form-input__check:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .fc-form-input__check:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  .fc-form-input__check:not(.fc-form-input__switch) {
    width: 21px;
  }
  .fc-form-input__check:not(.fc-form-input__switch):after {
    opacity: var(--o, 0);
  }
  .fc-form-input__check:not(.fc-form-input__switch):checked {
    --o: 1;
  }
  .fc-form-input__check + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
  input[type='checkbox'].fc-form-input__check:not(.fc-form-input__switch) {
    border-radius: 7px;
  }
  input[type='checkbox'].fc-form-input__check:not(.fc-form-input__switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  input[type='checkbox'].fc-form-input__check:not(.fc-form-input__switch):checked {
    --r: 43deg;
  }
  input[type='checkbox'].fc-form-input__switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type='checkbox'].fc-form-input__switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  input[type='checkbox'].fc-form-input__switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type='checkbox'].fc-form-input__switch:disabled:not(:checked):after {
    opacity: 0.6;
  }
  input[type='radio'].fc-form-input__check {
    border-radius: 50%;
  }
  input[type='radio'].fc-form-input__check:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  input[type='radio'].fc-form-input__check:checked {
    --s: 0.5;
  }
}
