:root {
  --header-height: 75px;
  --header-padding: var(--spacing-07)
}

.fc-navbar {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: var(--header-height);
  padding: 0 var(--header-padding);
  background: var(--ui-elevation-background-02);
  border-bottom: 1px solid var(--border-color);
}

.fc-navbar__section {
  align-items: center;
  display: flex;
  flex: 1 0 0;
}

.fc-navbar__section:not(:first-child):last-child {
  justify-content: flex-end;
}

.fc-navbar__center {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
}

.fc-navbar__link {

}