.fc-nav {
  display: flex;
  flex-direction: column;
}

.fc-nav__list a {
  display: block;
  color: var(--fc-nav-anchor-color-link, var(--body-color));
  text-decoration: none;
  padding: var(--fc-nav-anchor-sizing-padding, var(--spacing-03));
}

.fc-nav__list a:focus,
.fc-nav__list a:hover,
.fc-nav__list a:active,
.fc-nav__list a.fh-is-active {
  text-decoration: underline;
}

/* compact nav */

.fc-nav.fc-nav--compact .fc-nav__list a {
  --fc-nav-anchor-sizing-padding: calc(var(--spacing-03) / 2);
}