// Card variables
// --------------

$padding-y:         var(--fc-card-spacing-y, var(--spacing-07)) !default;
$padding-x:         var(--fc-card-spacing-x, var(--spacing-07)) !default;
$bg-color:          var(--fc-card-color-bg, var(--ui-elevation-background-01)) !default;
$border-width:      var(--fc-card-sizing-border, 1px) !default;
$border-color:      var(--fc-card-color-border, var(--ui-border-04)) !default;
$border-radius:     var(--fc-card-radius-border, var(--ui-border-radius-01)) !default;
