// Accordion (HTML)
// ----------------

@use 'variables' as accordion;

.fc-accordion {
  display: block;
  width: 100%;
  padding: accordion.$details-padding;

  summary {
    display: flex;
    align-items: center;
    margin: accordion.$summary-margin;
    padding: accordion.$summary-padding;
    cursor: pointer;

    .fc-accordion__toggle-icon {
      width: accordion.$toggle-icon-size;
      height: accordion.$toggle-icon-size;
      margin-right: accordion.$toggle-icon-margin;
    }

    &:focus {
      outline: none;
      text-decoration: underline;
      text-decoration-color: accordion.$summary-focus-td-color;
      text-decoration-thickness: accordion.$summary-focus-td-thickness;
      text-underline-offset: accordion.$summary-focus-td-offset;
    }
  }

  &[open] {
    summary {
      margin-bottom: 0;

      .fc-accordion__toggle-icon {
        transform: rotate(90deg);
      }
    }
  }

  .fc-accordion__body {
    display: block;
    width: 100%;
  }
}
