// Accordion variables
// -------------------

@use '../../../../node_modules/@ficusjs/styles/src/scss/spacing';
@use '../../../../node_modules/@ficusjs/styles/src/scss/colors';
@use '../../../../node_modules/@ficusjs/styles/src/scss/ui';

// Details
$details-padding:                  var(--spacing-05, spacing.$spacing-05) !default;

// Summary
$summary-margin:                   calc(var(--spacing-05, #{spacing.$spacing-05}) * -1) !default;
$summary-padding:                  var(--spacing-05, spacing.$spacing-05) !default;
$summary-focus-td-color:           var(--secondary-color, colors.$secondary) !default;
$summary-focus-td-thickness:       var(--spacing-01, spacing.$spacing-01) !default;
$summary-focus-td-offset:          var(--spacing-02, spacing.$spacing-02) !default;

// Toggle icon
$toggle-icon-size:                 var(--icon-02, ui.$icon-size-02) !default;
$toggle-icon-margin:               var(--spacing-03, spacing.$spacing-03) !default;
