//
// Navbar (HTML)
//

:root {
  --navbar-height: 72px;
}

.fc-navbar {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: var(--navbar-height);
  padding: var(--spacing-05);
  background: var(--ui-elevation-background-01);
  border-bottom: 1px solid var(--ui-border-02);

  @media (min-width: 992px) {
    padding: var(--spacing-05) var(--spacing-07);
  }

  nav {
    display: flex;
    align-items: center;

    &:not(:first-child):last-child {
      justify-content: flex-end;
    }

    &.fc-navbar__center {
      align-items: center;
      display: flex;
      flex: 0 0 auto;
    }
  }
}

// Link
.fc-navbar__link {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  padding: var(--fc-navbar-link-spacing-padding-y, var(--spacing-03)) var(--fc-navbar-link-spacing-padding-x, 0);
  background-color: transparent;
  color: var(--ui-color);
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;

  @media (min-width: 992px) {
    width: auto;
    padding: var(--fc-navbar-link-spacing-padding-y, var(--spacing-03)) var(--fc-navbar-link-spacing-padding-x, var(--spacing-05));
  }
}