// Navbar (HTML)
// -------------

@use 'variables' as navbar;

.fc-navbar {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: navbar.$height;
  padding: navbar.$padding;
  background: navbar.$bg-color;
  border-bottom: navbar.$border-bottom;
  z-index: 4;

  @media (min-width: 992px) {
    padding: navbar.$padding-lg;
  }

  nav {
    display: flex;
    align-items: center;

    &:not(:first-child):last-child {
      justify-content: flex-end;
    }

    &.fc-navbar__center {
      align-items: center;
      display: flex;
      flex: 0 0 auto;
    }
  }
}

// Link
.fc-navbar__link {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  padding: navbar.$link-padding;
  background-color: navbar.$bg-color;
  color: navbar.$link-color;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: navbar.$link-color-hover;
  }

  @media (min-width: 992px) {
    width: auto;
    padding: navbar.$link-padding-lg;
  }
}
