// Navbar (HTML)
// -------------

@use 'variables' as navbar;

.fc-navbar {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: navbar.$height;
  padding: navbar.$padding;
  background: navbar.$bg-color;
  border-bottom: navbar.$border-bottom;
  z-index: 4;

  @media (min-width: 992px) {
    padding: navbar.$padding-lg;
  }

  nav {
    display: flex;
    align-items: center;

    &:not(:first-child):last-child {
      justify-content: flex-end;
    }

    &.fc-navbar__center {
      align-items: center;
      display: flex;
      flex: 0 0 auto;
    }
  }
}

// Link
.fc-navbar__link {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  padding: var(--fc-navbar-link-spacing-padding-y, var(--spacing-03)) var(--fc-navbar-link-spacing-padding-x, 0);
  background-color: transparent;
  color: var(--ui-color);
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;

  @media (min-width: 992px) {
    width: auto;
    padding: var(--fc-navbar-link-spacing-padding-y, var(--spacing-03)) var(--fc-navbar-link-spacing-padding-x, var(--spacing-05));
  }
}