// Fieldset
// --------

@use 'variables' as fieldset;

.fc-fieldset {
  margin: fieldset.$margin;
  border: fieldset.$border;
  padding: fieldset.$padding;

  legend {
    padding: fieldset.$padding;
  }
}
