// Dropdown variables
// ------------------

// Menu
$menu-min-width:                  var(--fc-dropdown-menu-sizing-width, 10rem);
$menu-margin:                     var(--fc-dropdown-menu-spacing-margin, calc(var(--spacing-03) / 2) 0 0);
$menu-padding:                    var(--fc-dropdown-menu-spacing-padding, var(--spacing-03) 0);
$menu-bg-color:                   var(--fc-dropdown-menu-color-background, var(--ui-elevation-background-02));
$menu-border:                     1px solid var(--fc-dropdown-menu-color-border, var(--ui-border-03));
$menu-box-shadow:                 var(--fc-dropdown-menu-shadow, var(--ui-elevation-shadow-02));
$menu-border-radius:              var(--fc-dropdown-menu-radius-border, 0.25rem);

// Menu link
$menu-link-padding:               var(--fc-dropdown-menu-link-spacing-padding-y, var(--spacing-03)) var(--fc-dropdown-menu-link-spacing-padding-x, var(--spacing-05));
$menu-link-bg-color:              var(--fc-dropdown-menu-link-color-background, transparent);
$menu-link-bg-color-hover:        var(--fc-dropdown-menu-link-hover-color-background, var(--ui-elevation-background-03));
$menu-link-color:                 var(--fc-dropdown-menu-link-color-link, var(--ui-color));
