//
// Navbar (Custom Element)
//

@use '../../html/navbar';

.fc-navbar {
  // nav:not(.fc-navbar__collapse) {
  //   height: var(--navbar-height);
  // }
}

.fc-navbar__collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
  margin-top: var(--spacing-05);

  @media (min-width: 992px) {
    flex-direction: row;
    margin-top: 0;
  }

  &:not(.fc-navbar__collapse--open) {
    display: none;
  }
}

.fc-navbar__toggler {
  display: flex;
  align-content: center;
  align-self: center;
  border: none;
  padding: var(--spacing-03);
  background: none;
}

.fc-navbar__toggler svg {
  width: 24px;
  height: 24px;
  fill: var(--high-emphasis-text-color);
}

@media (min-width: 992px) {
  .fc-navbar__collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .fc-navbar__toggler {
    display: none;
  }
}

// Dropdown
.fc-navbar {
  fc-dropdown {
    display: block;
    width: 100%;

    .fc-dropdown {
      width: 100%;
    }

    .fc-dropdown__menu {
      position: static;
      float: none;
      margin-bottom: calc(var(--spacing-03));
    }

    @media (min-width: 992px) {
      width: auto;

      .fc-dropdown__menu {
        width: auto;
        position: absolute;
        margin-bottom: 0;
      }
    }
  }
}