.fc-navbar {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 1030;
}

.fd-main-layout {
  display: grid;
  grid-template-rows: auto auto minmax(0, 1fr);
  grid-template-areas: "header" "sidebar" "content";
  min-height: 100vh;
}

@media (min-width: 992px) {
  .fd-main-layout {
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--header-height) auto;
    grid-template-areas: "header header" "sidebar content";
  }
}
.fd-doc-layout {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  min-width: 0;
}

.fd-doc-article {
  --flow-space: var(--spacing-05);
}
.fd-doc-article h1:not(:first-of-type) {
  --flow-space: var(--spacing-09);
}
.fd-doc-article h2 {
  --flow-space: var(--spacing-09);
}
.fd-doc-article h3 {
  --flow-space: var(--spacing-07);
}
.fd-doc-article h4 {
  --flow-space: var(--spacing-06);
}
.fd-doc-article h5,
.fd-doc-article h6 {
  --flow-space: var(--spacing-05);
}
.fd-doc-article hr {
  --flow-space: var(--spacing-09);
}
.fd-doc-article table {
  --flow-space: var(--spacing-07);
}
.fd-doc-article > :not(pre):not(table):not(.fd-component-container):not(hr) {
  max-width: 42rem;
}

:root {
  --sidebar-width: 300px;
}

.fd-sidebar {
  grid-area: sidebar;
  width: 100%;
  background: var(--body-bg-color);
  --fc-nav-anchor-color-link: var(--high-emphasis-text-color) ;
}

@media (min-width: 992px) {
  .fd-sidebar {
    position: sticky;
    top: 76px;
    height: calc(100vh - 76px);
    max-height: calc(100vh - 76px);
    border-right: 1px solid var(--ui-border-02);
    overflow-y: auto;
  }
}
.fd-sidebar-details > summary {
  width: 100%;
  list-style: none;
}
.fd-sidebar-details > summary::-webkit-details-marker {
  display: none;
}

:root {
  --details-force-closed: (max-width: 992px);
}

@media (min-width: 992px) {
  .fd-sidebar-details > summary {
    display: none;
  }
}
a[href].fd-direct-link,
a[href].fd-direct-link:visited {
  color: var(--gray-4-color);
  text-decoration: none;
  visibility: hidden;
}

:hover > a[href].fd-direct-link {
  visibility: visible;
}

.fd-toc {
  font-size: var(--text-02);
}
.fd-toc span {
  font-weight: 700;
}

.fd-toc__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.fd-toc__nav ol {
  padding-left: var(--spacing-05);
  list-style: none;
}
.fd-toc__nav a {
  display: block;
  color: var(--body-color);
  text-decoration: none;
  padding-top: calc(var(--spacing-03) / 2);
  padding-bottom: calc(var(--spacing-03) / 2);
}
.fd-toc__nav a:focus,
.fd-toc__nav a:hover,
.fd-toc__nav a:active,
.fd-toc__nav a.fh-is-active {
  text-decoration: underline;
}

.fd-component-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: var(--spacing-07);
  border: 1px solid var(--ui-border-02);
  border-top-left-radius: var(--ui-border-radius-01);
  border-top-right-radius: var(--ui-border-radius-01);
  padding: var(--spacing-09) var(--spacing-07);
}

.fd-component-container + code[class*=language-],
.fd-component-container + pre[class*=language-] {
  margin-top: -1px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

code[class*=language-],
pre[class*=language-] {
  margin-top: var(--spacing-07) !important;
  margin-bottom: var(--spacing-07) !important;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid var(--ui-border-02);
  border-right: 1px solid var(--ui-border-02);
  border-left: 1px solid var(--ui-border-02);
}

table thead {
  background-color: var(--ui-background-02);
}

table tbody {
  background-color: var(--ui-background-01);
}

table td,
table tbody th {
  border-top: 1px solid var(--ui-border-02);
  border-bottom: 1px solid var(--ui-border-02);
  margin: 0;
}

table code {
  word-break: normal;
}

table td,
table th {
  text-align: left;
  vertical-align: middle;
  padding: var(--spacing-04) var(--spacing-05);
}

/**
 * atom-dark theme for `prism.js`
 * Based on Atom's `atom-dark` theme: https://github.com/atom/atom-dark-syntax
 * @author Joe Gibson (@gibsjose)
 */
code[class*=language-],
pre[class*=language-] {
  color: #c5c8c6;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: var(--ui-border-radius-01);
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: var(--gray-90-color);
}

/* Inline code */
:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7C7C7C;
}

.token.punctuation {
  color: #c5c8c6;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.keyword,
.token.tag {
  color: #96CBFE;
}

.token.class-name {
  color: #FFFFB6;
  text-decoration: underline;
}

.token.boolean,
.token.constant {
  color: #99CC99;
}

.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.number {
  color: #FF73FD;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #A8FF60;
}

.token.variable {
  color: #C6C5FE;
}

.token.operator {
  color: #EDEDED;
}

.token.entity {
  color: #FFFFB6;
  cursor: help;
}

.token.url {
  color: #96CBFE;
}

.language-css .token.string,
.style .token.string {
  color: #87C38A;
}

.token.atrule,
.token.attr-value {
  color: #F9EE98;
}

.token.function {
  color: #DAD085;
}

.token.regex {
  color: #E9C062;
}

.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.fd-theme-toggle {
  align-self: center;
  margin: var(--fc-button-spacing-padding-y, var(--spacing-03)) var(--fc-button-spacing-padding-x, var(--spacing-05));
}
.fd-theme-toggle input[type=checkbox] {
  display: none;
}

.fd-theme-toggle__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80px;
  height: 40px;
  background-color: var(--ui-elevation-background-01);
  transition: transform 1s ease;
  position: relative;
  cursor: pointer;
}

.fd-theme-toggle__ball {
  width: 40px;
  height: 40px;
  background-color: var(--primary-dark-color);
  transition: transform 1s ease;
  position: absolute;
  border-radius: 50%;
  border: 4px solid var(--primary-light-color);
}

.fd-theme-toggle__scenary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: transform 1s ease;
}
.fd-theme-toggle__scenary .svg {
  width: 24px;
  height: 24px;
}
.fd-theme-toggle__scenary .svg svg {
  width: 24px;
}

/*# sourceMappingURL=ficus-docs.css.map */
