.fu-flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.fu-wrapper {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 80rem;
}

.fu-hidden {
  display: none;
}

.fu-bg-primary {
  background: #54e4e5;
}

.fu-bg-primary-light {
  background: #76e9ea;
}

.fu-bg-primary-dark {
  background: #43b6b7;
}

.fu-bg-secondary {
  background: #63e48b;
}

.fu-bg-secondary-light {
  background: #82e9a2;
}

.fu-bg-secondary-dark {
  background: #4fb66f;
}

.fu-bg-body-bg {
  background: #fff;
}

.fu-bg-body {
  background: #121212;
}

.fu-bg-high-emphasis-text {
  background: rgba(18, 18, 18, 0.87);
}

.fu-bg-medium-emphasis-text {
  background: rgba(18, 18, 18, 0.6);
}

.fu-bg-low-emphasis-text {
  background: rgba(18, 18, 18, 0.38);
}

.fu-bg-white {
  background: #fff;
}

.fu-bg-black {
  background: #000;
}

.fu-bg-gray-10 {
  background: #fafafa;
}

.fu-bg-gray-20 {
  background: #dddddd;
}

.fu-bg-gray-30 {
  background: #c0c0c0;
}

.fu-bg-gray-40 {
  background: #a4a4a4;
}

.fu-bg-gray-50 {
  background: #898989;
}

.fu-bg-gray-60 {
  background: #6f6f6f;
}

.fu-bg-gray-70 {
  background: #565656;
}

.fu-bg-gray-80 {
  background: #3e3e3e;
}

.fu-bg-gray-90 {
  background: #272727;
}

.fu-bg-gray-100 {
  background: #121212;
}

.fu-color-primary {
  color: #54e4e5;
}

.fu-color-primary-light {
  color: #76e9ea;
}

.fu-color-primary-dark {
  color: #43b6b7;
}

.fu-color-secondary {
  color: #63e48b;
}

.fu-color-secondary-light {
  color: #82e9a2;
}

.fu-color-secondary-dark {
  color: #4fb66f;
}

.fu-color-body-bg {
  color: #fff;
}

.fu-color-body {
  color: #121212;
}

.fu-color-high-emphasis-text {
  color: rgba(18, 18, 18, 0.87);
}

.fu-color-medium-emphasis-text {
  color: rgba(18, 18, 18, 0.6);
}

.fu-color-low-emphasis-text {
  color: rgba(18, 18, 18, 0.38);
}

.fu-color-white {
  color: #fff;
}

.fu-color-black {
  color: #000;
}

.fu-color-gray-10 {
  color: #fafafa;
}

.fu-color-gray-20 {
  color: #dddddd;
}

.fu-color-gray-30 {
  color: #c0c0c0;
}

.fu-color-gray-40 {
  color: #a4a4a4;
}

.fu-color-gray-50 {
  color: #898989;
}

.fu-color-gray-60 {
  color: #6f6f6f;
}

.fu-color-gray-70 {
  color: #565656;
}

.fu-color-gray-80 {
  color: #3e3e3e;
}

.fu-color-gray-90 {
  color: #272727;
}

.fu-color-gray-100 {
  color: #121212;
}

.fu-font-family-primary {
  font-family: Raleway, sans-serif;
}

.fu-font-family-secondary {
  font-family: Open Sans, sans-serif;
}

.fu-font-weight-light {
  font-weight: 300;
}

.fu-font-weight-normal {
  font-weight: 400;
}

.fu-font-weight-medium {
  font-weight: 500;
}

.fu-font-weight-semibold {
  font-weight: 600;
}

.fu-font-weight-bold {
  font-weight: 700;
}

.fu-text-align-center {
  text-align: center;
}

.fu-text-align-left {
  text-align: left;
}

.fu-text-align-right {
  text-align: right;
}

.fu-text-align-justify {
  text-align: justify;
}

.fu-text-transform-uppercase {
  text-transform: uppercase;
}

.fu-text-transform-capitalize {
  text-transform: capitalize;
}

.fu-spacing-m-00 {
  margin-top: 0;
}

.fu-spacing-m-01 {
  margin-top: 0.125rem;
}

.fu-spacing-m-02 {
  margin-top: 0.25rem;
}

.fu-spacing-m-03 {
  margin-top: 0.5rem;
}

.fu-spacing-m-04 {
  margin-top: 0.75rem;
}

.fu-spacing-m-05 {
  margin-top: 1rem;
}

.fu-spacing-m-06 {
  margin-top: 1.5rem;
}

.fu-spacing-m-07 {
  margin-top: 2rem;
}

.fu-spacing-m-08 {
  margin-top: 2.5rem;
}

.fu-spacing-m-09 {
  margin-top: 3rem;
}

.fu-spacing-mt-00 {
  margin-top: 0;
}

.fu-spacing-mt-01 {
  margin-top: 0.125rem;
}

.fu-spacing-mt-02 {
  margin-top: 0.25rem;
}

.fu-spacing-mt-03 {
  margin-top: 0.5rem;
}

.fu-spacing-mt-04 {
  margin-top: 0.75rem;
}

.fu-spacing-mt-05 {
  margin-top: 1rem;
}

.fu-spacing-mt-06 {
  margin-top: 1.5rem;
}

.fu-spacing-mt-07 {
  margin-top: 2rem;
}

.fu-spacing-mt-08 {
  margin-top: 2.5rem;
}

.fu-spacing-mt-09 {
  margin-top: 3rem;
}

.fu-spacing-mb-00 {
  margin-bottom: 0;
}

.fu-spacing-mb-01 {
  margin-bottom: 0.125rem;
}

.fu-spacing-mb-02 {
  margin-bottom: 0.25rem;
}

.fu-spacing-mb-03 {
  margin-bottom: 0.5rem;
}

.fu-spacing-mb-04 {
  margin-bottom: 0.75rem;
}

.fu-spacing-mb-05 {
  margin-bottom: 1rem;
}

.fu-spacing-mb-06 {
  margin-bottom: 1.5rem;
}

.fu-spacing-mb-07 {
  margin-bottom: 2rem;
}

.fu-spacing-mb-08 {
  margin-bottom: 2.5rem;
}

.fu-spacing-mb-09 {
  margin-bottom: 3rem;
}

.fu-spacing-ml-00 {
  margin-left: 0;
}

.fu-spacing-ml-01 {
  margin-left: 0.125rem;
}

.fu-spacing-ml-02 {
  margin-left: 0.25rem;
}

.fu-spacing-ml-03 {
  margin-left: 0.5rem;
}

.fu-spacing-ml-04 {
  margin-left: 0.75rem;
}

.fu-spacing-ml-05 {
  margin-left: 1rem;
}

.fu-spacing-ml-06 {
  margin-left: 1.5rem;
}

.fu-spacing-ml-07 {
  margin-left: 2rem;
}

.fu-spacing-ml-08 {
  margin-left: 2.5rem;
}

.fu-spacing-ml-09 {
  margin-left: 3rem;
}

.fu-spacing-mr-00 {
  margin-right: 0;
}

.fu-spacing-mr-01 {
  margin-right: 0.125rem;
}

.fu-spacing-mr-02 {
  margin-right: 0.25rem;
}

.fu-spacing-mr-03 {
  margin-right: 0.5rem;
}

.fu-spacing-mr-04 {
  margin-right: 0.75rem;
}

.fu-spacing-mr-05 {
  margin-right: 1rem;
}

.fu-spacing-mr-06 {
  margin-right: 1.5rem;
}

.fu-spacing-mr-07 {
  margin-right: 2rem;
}

.fu-spacing-mr-08 {
  margin-right: 2.5rem;
}

.fu-spacing-mr-09 {
  margin-right: 3rem;
}

.fu-spacing-n-m-00 {
  margin-top: 0;
}

.fu-spacing-n-m-01 {
  margin-top: -0.125rem;
}

.fu-spacing-n-m-02 {
  margin-top: -0.25rem;
}

.fu-spacing-n-m-03 {
  margin-top: -0.5rem;
}

.fu-spacing-n-m-04 {
  margin-top: -0.75rem;
}

.fu-spacing-n-m-05 {
  margin-top: -1rem;
}

.fu-spacing-n-m-06 {
  margin-top: -1.5rem;
}

.fu-spacing-n-m-07 {
  margin-top: -2rem;
}

.fu-spacing-n-m-08 {
  margin-top: -2.5rem;
}

.fu-spacing-n-m-09 {
  margin-top: -3rem;
}

.fu-spacing-n-mr-00 {
  margin-right: 0;
}

.fu-spacing-n-mr-01 {
  margin-right: -0.125rem;
}

.fu-spacing-n-mr-02 {
  margin-right: -0.25rem;
}

.fu-spacing-n-mr-03 {
  margin-right: -0.5rem;
}

.fu-spacing-n-mr-04 {
  margin-right: -0.75rem;
}

.fu-spacing-n-mr-05 {
  margin-right: -1rem;
}

.fu-spacing-n-mr-06 {
  margin-right: -1.5rem;
}

.fu-spacing-n-mr-07 {
  margin-right: -2rem;
}

.fu-spacing-n-mr-08 {
  margin-right: -2.5rem;
}

.fu-spacing-n-mr-09 {
  margin-right: -3rem;
}

.fu-spacing-n-mb-00 {
  margin-bottom: 0;
}

.fu-spacing-n-mb-01 {
  margin-bottom: -0.125rem;
}

.fu-spacing-n-mb-02 {
  margin-bottom: -0.25rem;
}

.fu-spacing-n-mb-03 {
  margin-bottom: -0.5rem;
}

.fu-spacing-n-mb-04 {
  margin-bottom: -0.75rem;
}

.fu-spacing-n-mb-05 {
  margin-bottom: -1rem;
}

.fu-spacing-n-mb-06 {
  margin-bottom: -1.5rem;
}

.fu-spacing-n-mb-07 {
  margin-bottom: -2rem;
}

.fu-spacing-n-mb-08 {
  margin-bottom: -2.5rem;
}

.fu-spacing-n-mb-09 {
  margin-bottom: -3rem;
}

.fu-spacing-n-ml-00 {
  margin-left: 0;
}

.fu-spacing-n-ml-01 {
  margin-left: -0.125rem;
}

.fu-spacing-n-ml-02 {
  margin-left: -0.25rem;
}

.fu-spacing-n-ml-03 {
  margin-left: -0.5rem;
}

.fu-spacing-n-ml-04 {
  margin-left: -0.75rem;
}

.fu-spacing-n-ml-05 {
  margin-left: -1rem;
}

.fu-spacing-n-ml-06 {
  margin-left: -1.5rem;
}

.fu-spacing-n-ml-07 {
  margin-left: -2rem;
}

.fu-spacing-n-ml-08 {
  margin-left: -2.5rem;
}

.fu-spacing-n-ml-09 {
  margin-left: -3rem;
}

.fu-spacing-p-00 {
  padding: 0;
}

.fu-spacing-p-01 {
  padding: 0.125rem;
}

.fu-spacing-p-02 {
  padding: 0.25rem;
}

.fu-spacing-p-03 {
  padding: 0.5rem;
}

.fu-spacing-p-04 {
  padding: 0.75rem;
}

.fu-spacing-p-05 {
  padding: 1rem;
}

.fu-spacing-p-06 {
  padding: 1.5rem;
}

.fu-spacing-p-07 {
  padding: 2rem;
}

.fu-spacing-p-08 {
  padding: 2.5rem;
}

.fu-spacing-p-09 {
  padding: 3rem;
}

.fu-spacing-pt-00 {
  padding-top: 0;
}

.fu-spacing-pt-01 {
  padding-top: 0.125rem;
}

.fu-spacing-pt-02 {
  padding-top: 0.25rem;
}

.fu-spacing-pt-03 {
  padding-top: 0.5rem;
}

.fu-spacing-pt-04 {
  padding-top: 0.75rem;
}

.fu-spacing-pt-05 {
  padding-top: 1rem;
}

.fu-spacing-pt-06 {
  padding-top: 1.5rem;
}

.fu-spacing-pt-07 {
  padding-top: 2rem;
}

.fu-spacing-pt-08 {
  padding-top: 2.5rem;
}

.fu-spacing-pt-09 {
  padding-top: 3rem;
}

.fu-spacing-pr-00 {
  padding-right: 0;
}

.fu-spacing-pr-01 {
  padding-right: 0.125rem;
}

.fu-spacing-pr-02 {
  padding-right: 0.25rem;
}

.fu-spacing-pr-03 {
  padding-right: 0.5rem;
}

.fu-spacing-pr-04 {
  padding-right: 0.75rem;
}

.fu-spacing-pr-05 {
  padding-right: 1rem;
}

.fu-spacing-pr-06 {
  padding-right: 1.5rem;
}

.fu-spacing-pr-07 {
  padding-right: 2rem;
}

.fu-spacing-pr-08 {
  padding-right: 2.5rem;
}

.fu-spacing-pr-09 {
  padding-right: 3rem;
}

.fu-spacing-pb-00 {
  padding-bottom: 0;
}

.fu-spacing-pb-01 {
  padding-bottom: 0.125rem;
}

.fu-spacing-pb-02 {
  padding-bottom: 0.25rem;
}

.fu-spacing-pb-03 {
  padding-bottom: 0.5rem;
}

.fu-spacing-pb-04 {
  padding-bottom: 0.75rem;
}

.fu-spacing-pb-05 {
  padding-bottom: 1rem;
}

.fu-spacing-pb-06 {
  padding-bottom: 1.5rem;
}

.fu-spacing-pb-07 {
  padding-bottom: 2rem;
}

.fu-spacing-pb-08 {
  padding-bottom: 2.5rem;
}

.fu-spacing-pb-09 {
  padding-bottom: 3rem;
}

.fu-spacing-pl-00 {
  padding-left: 0;
}

.fu-spacing-pl-01 {
  padding-left: 0.125rem;
}

.fu-spacing-pl-02 {
  padding-left: 0.25rem;
}

.fu-spacing-pl-03 {
  padding-left: 0.5rem;
}

.fu-spacing-pl-04 {
  padding-left: 0.75rem;
}

.fu-spacing-pl-05 {
  padding-left: 1rem;
}

.fu-spacing-pl-06 {
  padding-left: 1.5rem;
}

.fu-spacing-pl-07 {
  padding-left: 2rem;
}

.fu-spacing-pl-08 {
  padding-left: 2.5rem;
}

.fu-spacing-pl-09 {
  padding-left: 3rem;
}

.fu-layout-m-01 {
  margin-top: 1rem;
}

.fu-layout-m-02 {
  margin-top: 1.5rem;
}

.fu-layout-m-03 {
  margin-top: 2rem;
}

.fu-layout-m-04 {
  margin-top: 3rem;
}

.fu-layout-m-05 {
  margin-top: 4rem;
}

.fu-layout-m-06 {
  margin-top: 6rem;
}

.fu-layout-m-07 {
  margin-top: 10rem;
}

.fu-layout-mt-01 {
  margin-top: 1rem;
}

.fu-layout-mt-02 {
  margin-top: 1.5rem;
}

.fu-layout-mt-03 {
  margin-top: 2rem;
}

.fu-layout-mt-04 {
  margin-top: 3rem;
}

.fu-layout-mt-05 {
  margin-top: 4rem;
}

.fu-layout-mt-06 {
  margin-top: 6rem;
}

.fu-layout-mt-07 {
  margin-top: 10rem;
}

.fu-layout-mb-01 {
  margin-bottom: 1rem;
}

.fu-layout-mb-02 {
  margin-bottom: 1.5rem;
}

.fu-layout-mb-03 {
  margin-bottom: 2rem;
}

.fu-layout-mb-04 {
  margin-bottom: 3rem;
}

.fu-layout-mb-05 {
  margin-bottom: 4rem;
}

.fu-layout-mb-06 {
  margin-bottom: 6rem;
}

.fu-layout-mb-07 {
  margin-bottom: 10rem;
}

.fu-layout-ml-01 {
  margin-left: 1rem;
}

.fu-layout-ml-02 {
  margin-left: 1.5rem;
}

.fu-layout-ml-03 {
  margin-left: 2rem;
}

.fu-layout-ml-04 {
  margin-left: 3rem;
}

.fu-layout-ml-05 {
  margin-left: 4rem;
}

.fu-layout-ml-06 {
  margin-left: 6rem;
}

.fu-layout-ml-07 {
  margin-left: 10rem;
}

.fu-layout-mr-01 {
  margin-right: 1rem;
}

.fu-layout-mr-02 {
  margin-right: 1.5rem;
}

.fu-layout-mr-03 {
  margin-right: 2rem;
}

.fu-layout-mr-04 {
  margin-right: 3rem;
}

.fu-layout-mr-05 {
  margin-right: 4rem;
}

.fu-layout-mr-06 {
  margin-right: 6rem;
}

.fu-layout-mr-07 {
  margin-right: 10rem;
}

.fu-layout-n-m-01 {
  margin-top: -1rem;
}

.fu-layout-n-m-02 {
  margin-top: -1.5rem;
}

.fu-layout-n-m-03 {
  margin-top: -2rem;
}

.fu-layout-n-m-04 {
  margin-top: -3rem;
}

.fu-layout-n-m-05 {
  margin-top: -4rem;
}

.fu-layout-n-m-06 {
  margin-top: -6rem;
}

.fu-layout-n-m-07 {
  margin-top: -10rem;
}

.fu-layout-n-mr-01 {
  margin-right: -1rem;
}

.fu-layout-n-mr-02 {
  margin-right: -1.5rem;
}

.fu-layout-n-mr-03 {
  margin-right: -2rem;
}

.fu-layout-n-mr-04 {
  margin-right: -3rem;
}

.fu-layout-n-mr-05 {
  margin-right: -4rem;
}

.fu-layout-n-mr-06 {
  margin-right: -6rem;
}

.fu-layout-n-mr-07 {
  margin-right: -10rem;
}

.fu-layout-n-mb-01 {
  margin-bottom: -1rem;
}

.fu-layout-n-mb-02 {
  margin-bottom: -1.5rem;
}

.fu-layout-n-mb-03 {
  margin-bottom: -2rem;
}

.fu-layout-n-mb-04 {
  margin-bottom: -3rem;
}

.fu-layout-n-mb-05 {
  margin-bottom: -4rem;
}

.fu-layout-n-mb-06 {
  margin-bottom: -6rem;
}

.fu-layout-n-mb-07 {
  margin-bottom: -10rem;
}

.fu-layout-n-ml-01 {
  margin-left: -1rem;
}

.fu-layout-n-ml-02 {
  margin-left: -1.5rem;
}

.fu-layout-n-ml-03 {
  margin-left: -2rem;
}

.fu-layout-n-ml-04 {
  margin-left: -3rem;
}

.fu-layout-n-ml-05 {
  margin-left: -4rem;
}

.fu-layout-n-ml-06 {
  margin-left: -6rem;
}

.fu-layout-n-ml-07 {
  margin-left: -10rem;
}

.fu-layout-p-01 {
  padding: 1rem;
}

.fu-layout-p-02 {
  padding: 1.5rem;
}

.fu-layout-p-03 {
  padding: 2rem;
}

.fu-layout-p-04 {
  padding: 3rem;
}

.fu-layout-p-05 {
  padding: 4rem;
}

.fu-layout-p-06 {
  padding: 6rem;
}

.fu-layout-p-07 {
  padding: 10rem;
}

.fu-layout-pt-01 {
  padding-top: 1rem;
}

.fu-layout-pt-02 {
  padding-top: 1.5rem;
}

.fu-layout-pt-03 {
  padding-top: 2rem;
}

.fu-layout-pt-04 {
  padding-top: 3rem;
}

.fu-layout-pt-05 {
  padding-top: 4rem;
}

.fu-layout-pt-06 {
  padding-top: 6rem;
}

.fu-layout-pt-07 {
  padding-top: 10rem;
}

.fu-layout-pr-01 {
  padding-right: 1rem;
}

.fu-layout-pr-02 {
  padding-right: 1.5rem;
}

.fu-layout-pr-03 {
  padding-right: 2rem;
}

.fu-layout-pr-04 {
  padding-right: 3rem;
}

.fu-layout-pr-05 {
  padding-right: 4rem;
}

.fu-layout-pr-06 {
  padding-right: 6rem;
}

.fu-layout-pr-07 {
  padding-right: 10rem;
}

.fu-layout-pb-01 {
  padding-bottom: 1rem;
}

.fu-layout-pb-02 {
  padding-bottom: 1.5rem;
}

.fu-layout-pb-03 {
  padding-bottom: 2rem;
}

.fu-layout-pb-04 {
  padding-bottom: 3rem;
}

.fu-layout-pb-05 {
  padding-bottom: 4rem;
}

.fu-layout-pb-06 {
  padding-bottom: 6rem;
}

.fu-layout-pb-07 {
  padding-bottom: 10rem;
}

.fu-layout-pl-01 {
  padding-left: 1rem;
}

.fu-layout-pl-02 {
  padding-left: 1.5rem;
}

.fu-layout-pl-03 {
  padding-left: 2rem;
}

.fu-layout-pl-04 {
  padding-left: 3rem;
}

.fu-layout-pl-05 {
  padding-left: 4rem;
}

.fu-layout-pl-06 {
  padding-left: 6rem;
}

.fu-layout-pl-07 {
  padding-left: 10rem;
}

.fu-stack-300 {
  z-index: 0;
}

.fu-stack-400 {
  z-index: 10;
}

.fu-stack-500 {
  z-index: 20;
}

.fu-stack-600 {
  z-index: 30;
}

.fu-stack-700 {
  z-index: 40;
}

.fu-width-full {
  width: 100%;
}

.fu-width-half {
  width: 50%;
}

.fu-width-quarter {
  width: 25%;
}

.fu-width-third {
  width: 33.3333333333%;
}

@media screen and (min-width: 576px) {
  .fu-sm-spacing-m-00 {
    margin-top: 0;
  }

  .fu-sm-spacing-m-01 {
    margin-top: 0.125rem;
  }

  .fu-sm-spacing-m-02 {
    margin-top: 0.25rem;
  }

  .fu-sm-spacing-m-03 {
    margin-top: 0.5rem;
  }

  .fu-sm-spacing-m-04 {
    margin-top: 0.75rem;
  }

  .fu-sm-spacing-m-05 {
    margin-top: 1rem;
  }

  .fu-sm-spacing-m-06 {
    margin-top: 1.5rem;
  }

  .fu-sm-spacing-m-07 {
    margin-top: 2rem;
  }

  .fu-sm-spacing-m-08 {
    margin-top: 2.5rem;
  }

  .fu-sm-spacing-m-09 {
    margin-top: 3rem;
  }

  .fu-sm-spacing-mt-00 {
    margin-top: 0;
  }

  .fu-sm-spacing-mt-01 {
    margin-top: 0.125rem;
  }

  .fu-sm-spacing-mt-02 {
    margin-top: 0.25rem;
  }

  .fu-sm-spacing-mt-03 {
    margin-top: 0.5rem;
  }

  .fu-sm-spacing-mt-04 {
    margin-top: 0.75rem;
  }

  .fu-sm-spacing-mt-05 {
    margin-top: 1rem;
  }

  .fu-sm-spacing-mt-06 {
    margin-top: 1.5rem;
  }

  .fu-sm-spacing-mt-07 {
    margin-top: 2rem;
  }

  .fu-sm-spacing-mt-08 {
    margin-top: 2.5rem;
  }

  .fu-sm-spacing-mt-09 {
    margin-top: 3rem;
  }

  .fu-sm-spacing-mb-00 {
    margin-bottom: 0;
  }

  .fu-sm-spacing-mb-01 {
    margin-bottom: 0.125rem;
  }

  .fu-sm-spacing-mb-02 {
    margin-bottom: 0.25rem;
  }

  .fu-sm-spacing-mb-03 {
    margin-bottom: 0.5rem;
  }

  .fu-sm-spacing-mb-04 {
    margin-bottom: 0.75rem;
  }

  .fu-sm-spacing-mb-05 {
    margin-bottom: 1rem;
  }

  .fu-sm-spacing-mb-06 {
    margin-bottom: 1.5rem;
  }

  .fu-sm-spacing-mb-07 {
    margin-bottom: 2rem;
  }

  .fu-sm-spacing-mb-08 {
    margin-bottom: 2.5rem;
  }

  .fu-sm-spacing-mb-09 {
    margin-bottom: 3rem;
  }

  .fu-sm-spacing-ml-00 {
    margin-left: 0;
  }

  .fu-sm-spacing-ml-01 {
    margin-left: 0.125rem;
  }

  .fu-sm-spacing-ml-02 {
    margin-left: 0.25rem;
  }

  .fu-sm-spacing-ml-03 {
    margin-left: 0.5rem;
  }

  .fu-sm-spacing-ml-04 {
    margin-left: 0.75rem;
  }

  .fu-sm-spacing-ml-05 {
    margin-left: 1rem;
  }

  .fu-sm-spacing-ml-06 {
    margin-left: 1.5rem;
  }

  .fu-sm-spacing-ml-07 {
    margin-left: 2rem;
  }

  .fu-sm-spacing-ml-08 {
    margin-left: 2.5rem;
  }

  .fu-sm-spacing-ml-09 {
    margin-left: 3rem;
  }

  .fu-sm-spacing-mr-00 {
    margin-right: 0;
  }

  .fu-sm-spacing-mr-01 {
    margin-right: 0.125rem;
  }

  .fu-sm-spacing-mr-02 {
    margin-right: 0.25rem;
  }

  .fu-sm-spacing-mr-03 {
    margin-right: 0.5rem;
  }

  .fu-sm-spacing-mr-04 {
    margin-right: 0.75rem;
  }

  .fu-sm-spacing-mr-05 {
    margin-right: 1rem;
  }

  .fu-sm-spacing-mr-06 {
    margin-right: 1.5rem;
  }

  .fu-sm-spacing-mr-07 {
    margin-right: 2rem;
  }

  .fu-sm-spacing-mr-08 {
    margin-right: 2.5rem;
  }

  .fu-sm-spacing-mr-09 {
    margin-right: 3rem;
  }

  .fu-sm-spacing-n-m-00 {
    margin-top: 0;
  }

  .fu-sm-spacing-n-m-01 {
    margin-top: -0.125rem;
  }

  .fu-sm-spacing-n-m-02 {
    margin-top: -0.25rem;
  }

  .fu-sm-spacing-n-m-03 {
    margin-top: -0.5rem;
  }

  .fu-sm-spacing-n-m-04 {
    margin-top: -0.75rem;
  }

  .fu-sm-spacing-n-m-05 {
    margin-top: -1rem;
  }

  .fu-sm-spacing-n-m-06 {
    margin-top: -1.5rem;
  }

  .fu-sm-spacing-n-m-07 {
    margin-top: -2rem;
  }

  .fu-sm-spacing-n-m-08 {
    margin-top: -2.5rem;
  }

  .fu-sm-spacing-n-m-09 {
    margin-top: -3rem;
  }

  .fu-sm-spacing-n-mr-00 {
    margin-right: 0;
  }

  .fu-sm-spacing-n-mr-01 {
    margin-right: -0.125rem;
  }

  .fu-sm-spacing-n-mr-02 {
    margin-right: -0.25rem;
  }

  .fu-sm-spacing-n-mr-03 {
    margin-right: -0.5rem;
  }

  .fu-sm-spacing-n-mr-04 {
    margin-right: -0.75rem;
  }

  .fu-sm-spacing-n-mr-05 {
    margin-right: -1rem;
  }

  .fu-sm-spacing-n-mr-06 {
    margin-right: -1.5rem;
  }

  .fu-sm-spacing-n-mr-07 {
    margin-right: -2rem;
  }

  .fu-sm-spacing-n-mr-08 {
    margin-right: -2.5rem;
  }

  .fu-sm-spacing-n-mr-09 {
    margin-right: -3rem;
  }

  .fu-sm-spacing-n-mb-00 {
    margin-bottom: 0;
  }

  .fu-sm-spacing-n-mb-01 {
    margin-bottom: -0.125rem;
  }

  .fu-sm-spacing-n-mb-02 {
    margin-bottom: -0.25rem;
  }

  .fu-sm-spacing-n-mb-03 {
    margin-bottom: -0.5rem;
  }

  .fu-sm-spacing-n-mb-04 {
    margin-bottom: -0.75rem;
  }

  .fu-sm-spacing-n-mb-05 {
    margin-bottom: -1rem;
  }

  .fu-sm-spacing-n-mb-06 {
    margin-bottom: -1.5rem;
  }

  .fu-sm-spacing-n-mb-07 {
    margin-bottom: -2rem;
  }

  .fu-sm-spacing-n-mb-08 {
    margin-bottom: -2.5rem;
  }

  .fu-sm-spacing-n-mb-09 {
    margin-bottom: -3rem;
  }

  .fu-sm-spacing-n-ml-00 {
    margin-left: 0;
  }

  .fu-sm-spacing-n-ml-01 {
    margin-left: -0.125rem;
  }

  .fu-sm-spacing-n-ml-02 {
    margin-left: -0.25rem;
  }

  .fu-sm-spacing-n-ml-03 {
    margin-left: -0.5rem;
  }

  .fu-sm-spacing-n-ml-04 {
    margin-left: -0.75rem;
  }

  .fu-sm-spacing-n-ml-05 {
    margin-left: -1rem;
  }

  .fu-sm-spacing-n-ml-06 {
    margin-left: -1.5rem;
  }

  .fu-sm-spacing-n-ml-07 {
    margin-left: -2rem;
  }

  .fu-sm-spacing-n-ml-08 {
    margin-left: -2.5rem;
  }

  .fu-sm-spacing-n-ml-09 {
    margin-left: -3rem;
  }

  .fu-sm-spacing-p-00 {
    padding: 0;
  }

  .fu-sm-spacing-p-01 {
    padding: 0.125rem;
  }

  .fu-sm-spacing-p-02 {
    padding: 0.25rem;
  }

  .fu-sm-spacing-p-03 {
    padding: 0.5rem;
  }

  .fu-sm-spacing-p-04 {
    padding: 0.75rem;
  }

  .fu-sm-spacing-p-05 {
    padding: 1rem;
  }

  .fu-sm-spacing-p-06 {
    padding: 1.5rem;
  }

  .fu-sm-spacing-p-07 {
    padding: 2rem;
  }

  .fu-sm-spacing-p-08 {
    padding: 2.5rem;
  }

  .fu-sm-spacing-p-09 {
    padding: 3rem;
  }

  .fu-sm-spacing-pt-00 {
    padding-top: 0;
  }

  .fu-sm-spacing-pt-01 {
    padding-top: 0.125rem;
  }

  .fu-sm-spacing-pt-02 {
    padding-top: 0.25rem;
  }

  .fu-sm-spacing-pt-03 {
    padding-top: 0.5rem;
  }

  .fu-sm-spacing-pt-04 {
    padding-top: 0.75rem;
  }

  .fu-sm-spacing-pt-05 {
    padding-top: 1rem;
  }

  .fu-sm-spacing-pt-06 {
    padding-top: 1.5rem;
  }

  .fu-sm-spacing-pt-07 {
    padding-top: 2rem;
  }

  .fu-sm-spacing-pt-08 {
    padding-top: 2.5rem;
  }

  .fu-sm-spacing-pt-09 {
    padding-top: 3rem;
  }

  .fu-sm-spacing-pr-00 {
    padding-right: 0;
  }

  .fu-sm-spacing-pr-01 {
    padding-right: 0.125rem;
  }

  .fu-sm-spacing-pr-02 {
    padding-right: 0.25rem;
  }

  .fu-sm-spacing-pr-03 {
    padding-right: 0.5rem;
  }

  .fu-sm-spacing-pr-04 {
    padding-right: 0.75rem;
  }

  .fu-sm-spacing-pr-05 {
    padding-right: 1rem;
  }

  .fu-sm-spacing-pr-06 {
    padding-right: 1.5rem;
  }

  .fu-sm-spacing-pr-07 {
    padding-right: 2rem;
  }

  .fu-sm-spacing-pr-08 {
    padding-right: 2.5rem;
  }

  .fu-sm-spacing-pr-09 {
    padding-right: 3rem;
  }

  .fu-sm-spacing-pb-00 {
    padding-bottom: 0;
  }

  .fu-sm-spacing-pb-01 {
    padding-bottom: 0.125rem;
  }

  .fu-sm-spacing-pb-02 {
    padding-bottom: 0.25rem;
  }

  .fu-sm-spacing-pb-03 {
    padding-bottom: 0.5rem;
  }

  .fu-sm-spacing-pb-04 {
    padding-bottom: 0.75rem;
  }

  .fu-sm-spacing-pb-05 {
    padding-bottom: 1rem;
  }

  .fu-sm-spacing-pb-06 {
    padding-bottom: 1.5rem;
  }

  .fu-sm-spacing-pb-07 {
    padding-bottom: 2rem;
  }

  .fu-sm-spacing-pb-08 {
    padding-bottom: 2.5rem;
  }

  .fu-sm-spacing-pb-09 {
    padding-bottom: 3rem;
  }

  .fu-sm-spacing-pl-00 {
    padding-left: 0;
  }

  .fu-sm-spacing-pl-01 {
    padding-left: 0.125rem;
  }

  .fu-sm-spacing-pl-02 {
    padding-left: 0.25rem;
  }

  .fu-sm-spacing-pl-03 {
    padding-left: 0.5rem;
  }

  .fu-sm-spacing-pl-04 {
    padding-left: 0.75rem;
  }

  .fu-sm-spacing-pl-05 {
    padding-left: 1rem;
  }

  .fu-sm-spacing-pl-06 {
    padding-left: 1.5rem;
  }

  .fu-sm-spacing-pl-07 {
    padding-left: 2rem;
  }

  .fu-sm-spacing-pl-08 {
    padding-left: 2.5rem;
  }

  .fu-sm-spacing-pl-09 {
    padding-left: 3rem;
  }

  .fu-sm-layout-m-01 {
    margin-top: 1rem;
  }

  .fu-sm-layout-m-02 {
    margin-top: 1.5rem;
  }

  .fu-sm-layout-m-03 {
    margin-top: 2rem;
  }

  .fu-sm-layout-m-04 {
    margin-top: 3rem;
  }

  .fu-sm-layout-m-05 {
    margin-top: 4rem;
  }

  .fu-sm-layout-m-06 {
    margin-top: 6rem;
  }

  .fu-sm-layout-m-07 {
    margin-top: 10rem;
  }

  .fu-sm-layout-mt-01 {
    margin-top: 1rem;
  }

  .fu-sm-layout-mt-02 {
    margin-top: 1.5rem;
  }

  .fu-sm-layout-mt-03 {
    margin-top: 2rem;
  }

  .fu-sm-layout-mt-04 {
    margin-top: 3rem;
  }

  .fu-sm-layout-mt-05 {
    margin-top: 4rem;
  }

  .fu-sm-layout-mt-06 {
    margin-top: 6rem;
  }

  .fu-sm-layout-mt-07 {
    margin-top: 10rem;
  }

  .fu-sm-layout-mb-01 {
    margin-bottom: 1rem;
  }

  .fu-sm-layout-mb-02 {
    margin-bottom: 1.5rem;
  }

  .fu-sm-layout-mb-03 {
    margin-bottom: 2rem;
  }

  .fu-sm-layout-mb-04 {
    margin-bottom: 3rem;
  }

  .fu-sm-layout-mb-05 {
    margin-bottom: 4rem;
  }

  .fu-sm-layout-mb-06 {
    margin-bottom: 6rem;
  }

  .fu-sm-layout-mb-07 {
    margin-bottom: 10rem;
  }

  .fu-sm-layout-ml-01 {
    margin-left: 1rem;
  }

  .fu-sm-layout-ml-02 {
    margin-left: 1.5rem;
  }

  .fu-sm-layout-ml-03 {
    margin-left: 2rem;
  }

  .fu-sm-layout-ml-04 {
    margin-left: 3rem;
  }

  .fu-sm-layout-ml-05 {
    margin-left: 4rem;
  }

  .fu-sm-layout-ml-06 {
    margin-left: 6rem;
  }

  .fu-sm-layout-ml-07 {
    margin-left: 10rem;
  }

  .fu-sm-layout-mr-01 {
    margin-right: 1rem;
  }

  .fu-sm-layout-mr-02 {
    margin-right: 1.5rem;
  }

  .fu-sm-layout-mr-03 {
    margin-right: 2rem;
  }

  .fu-sm-layout-mr-04 {
    margin-right: 3rem;
  }

  .fu-sm-layout-mr-05 {
    margin-right: 4rem;
  }

  .fu-sm-layout-mr-06 {
    margin-right: 6rem;
  }

  .fu-sm-layout-mr-07 {
    margin-right: 10rem;
  }

  .fu-sm-layout-n-m-01 {
    margin-top: -1rem;
  }

  .fu-sm-layout-n-m-02 {
    margin-top: -1.5rem;
  }

  .fu-sm-layout-n-m-03 {
    margin-top: -2rem;
  }

  .fu-sm-layout-n-m-04 {
    margin-top: -3rem;
  }

  .fu-sm-layout-n-m-05 {
    margin-top: -4rem;
  }

  .fu-sm-layout-n-m-06 {
    margin-top: -6rem;
  }

  .fu-sm-layout-n-m-07 {
    margin-top: -10rem;
  }

  .fu-sm-layout-n-mr-01 {
    margin-right: -1rem;
  }

  .fu-sm-layout-n-mr-02 {
    margin-right: -1.5rem;
  }

  .fu-sm-layout-n-mr-03 {
    margin-right: -2rem;
  }

  .fu-sm-layout-n-mr-04 {
    margin-right: -3rem;
  }

  .fu-sm-layout-n-mr-05 {
    margin-right: -4rem;
  }

  .fu-sm-layout-n-mr-06 {
    margin-right: -6rem;
  }

  .fu-sm-layout-n-mr-07 {
    margin-right: -10rem;
  }

  .fu-sm-layout-n-mb-01 {
    margin-bottom: -1rem;
  }

  .fu-sm-layout-n-mb-02 {
    margin-bottom: -1.5rem;
  }

  .fu-sm-layout-n-mb-03 {
    margin-bottom: -2rem;
  }

  .fu-sm-layout-n-mb-04 {
    margin-bottom: -3rem;
  }

  .fu-sm-layout-n-mb-05 {
    margin-bottom: -4rem;
  }

  .fu-sm-layout-n-mb-06 {
    margin-bottom: -6rem;
  }

  .fu-sm-layout-n-mb-07 {
    margin-bottom: -10rem;
  }

  .fu-sm-layout-n-ml-01 {
    margin-left: -1rem;
  }

  .fu-sm-layout-n-ml-02 {
    margin-left: -1.5rem;
  }

  .fu-sm-layout-n-ml-03 {
    margin-left: -2rem;
  }

  .fu-sm-layout-n-ml-04 {
    margin-left: -3rem;
  }

  .fu-sm-layout-n-ml-05 {
    margin-left: -4rem;
  }

  .fu-sm-layout-n-ml-06 {
    margin-left: -6rem;
  }

  .fu-sm-layout-n-ml-07 {
    margin-left: -10rem;
  }

  .fu-sm-layout-p-01 {
    padding: 1rem;
  }

  .fu-sm-layout-p-02 {
    padding: 1.5rem;
  }

  .fu-sm-layout-p-03 {
    padding: 2rem;
  }

  .fu-sm-layout-p-04 {
    padding: 3rem;
  }

  .fu-sm-layout-p-05 {
    padding: 4rem;
  }

  .fu-sm-layout-p-06 {
    padding: 6rem;
  }

  .fu-sm-layout-p-07 {
    padding: 10rem;
  }

  .fu-sm-layout-pt-01 {
    padding-top: 1rem;
  }

  .fu-sm-layout-pt-02 {
    padding-top: 1.5rem;
  }

  .fu-sm-layout-pt-03 {
    padding-top: 2rem;
  }

  .fu-sm-layout-pt-04 {
    padding-top: 3rem;
  }

  .fu-sm-layout-pt-05 {
    padding-top: 4rem;
  }

  .fu-sm-layout-pt-06 {
    padding-top: 6rem;
  }

  .fu-sm-layout-pt-07 {
    padding-top: 10rem;
  }

  .fu-sm-layout-pr-01 {
    padding-right: 1rem;
  }

  .fu-sm-layout-pr-02 {
    padding-right: 1.5rem;
  }

  .fu-sm-layout-pr-03 {
    padding-right: 2rem;
  }

  .fu-sm-layout-pr-04 {
    padding-right: 3rem;
  }

  .fu-sm-layout-pr-05 {
    padding-right: 4rem;
  }

  .fu-sm-layout-pr-06 {
    padding-right: 6rem;
  }

  .fu-sm-layout-pr-07 {
    padding-right: 10rem;
  }

  .fu-sm-layout-pb-01 {
    padding-bottom: 1rem;
  }

  .fu-sm-layout-pb-02 {
    padding-bottom: 1.5rem;
  }

  .fu-sm-layout-pb-03 {
    padding-bottom: 2rem;
  }

  .fu-sm-layout-pb-04 {
    padding-bottom: 3rem;
  }

  .fu-sm-layout-pb-05 {
    padding-bottom: 4rem;
  }

  .fu-sm-layout-pb-06 {
    padding-bottom: 6rem;
  }

  .fu-sm-layout-pb-07 {
    padding-bottom: 10rem;
  }

  .fu-sm-layout-pl-01 {
    padding-left: 1rem;
  }

  .fu-sm-layout-pl-02 {
    padding-left: 1.5rem;
  }

  .fu-sm-layout-pl-03 {
    padding-left: 2rem;
  }

  .fu-sm-layout-pl-04 {
    padding-left: 3rem;
  }

  .fu-sm-layout-pl-05 {
    padding-left: 4rem;
  }

  .fu-sm-layout-pl-06 {
    padding-left: 6rem;
  }

  .fu-sm-layout-pl-07 {
    padding-left: 10rem;
  }

  .fu-sm-width-full {
    width: 100%;
  }

  .fu-sm-width-half {
    width: 50%;
  }

  .fu-sm-width-quarter {
    width: 25%;
  }

  .fu-sm-width-third {
    width: 33.3333333333%;
  }
}
@media screen and (min-width: 768px) {
  .fu-md-spacing-m-00 {
    margin-top: 0;
  }

  .fu-md-spacing-m-01 {
    margin-top: 0.125rem;
  }

  .fu-md-spacing-m-02 {
    margin-top: 0.25rem;
  }

  .fu-md-spacing-m-03 {
    margin-top: 0.5rem;
  }

  .fu-md-spacing-m-04 {
    margin-top: 0.75rem;
  }

  .fu-md-spacing-m-05 {
    margin-top: 1rem;
  }

  .fu-md-spacing-m-06 {
    margin-top: 1.5rem;
  }

  .fu-md-spacing-m-07 {
    margin-top: 2rem;
  }

  .fu-md-spacing-m-08 {
    margin-top: 2.5rem;
  }

  .fu-md-spacing-m-09 {
    margin-top: 3rem;
  }

  .fu-md-spacing-mt-00 {
    margin-top: 0;
  }

  .fu-md-spacing-mt-01 {
    margin-top: 0.125rem;
  }

  .fu-md-spacing-mt-02 {
    margin-top: 0.25rem;
  }

  .fu-md-spacing-mt-03 {
    margin-top: 0.5rem;
  }

  .fu-md-spacing-mt-04 {
    margin-top: 0.75rem;
  }

  .fu-md-spacing-mt-05 {
    margin-top: 1rem;
  }

  .fu-md-spacing-mt-06 {
    margin-top: 1.5rem;
  }

  .fu-md-spacing-mt-07 {
    margin-top: 2rem;
  }

  .fu-md-spacing-mt-08 {
    margin-top: 2.5rem;
  }

  .fu-md-spacing-mt-09 {
    margin-top: 3rem;
  }

  .fu-md-spacing-mb-00 {
    margin-bottom: 0;
  }

  .fu-md-spacing-mb-01 {
    margin-bottom: 0.125rem;
  }

  .fu-md-spacing-mb-02 {
    margin-bottom: 0.25rem;
  }

  .fu-md-spacing-mb-03 {
    margin-bottom: 0.5rem;
  }

  .fu-md-spacing-mb-04 {
    margin-bottom: 0.75rem;
  }

  .fu-md-spacing-mb-05 {
    margin-bottom: 1rem;
  }

  .fu-md-spacing-mb-06 {
    margin-bottom: 1.5rem;
  }

  .fu-md-spacing-mb-07 {
    margin-bottom: 2rem;
  }

  .fu-md-spacing-mb-08 {
    margin-bottom: 2.5rem;
  }

  .fu-md-spacing-mb-09 {
    margin-bottom: 3rem;
  }

  .fu-md-spacing-ml-00 {
    margin-left: 0;
  }

  .fu-md-spacing-ml-01 {
    margin-left: 0.125rem;
  }

  .fu-md-spacing-ml-02 {
    margin-left: 0.25rem;
  }

  .fu-md-spacing-ml-03 {
    margin-left: 0.5rem;
  }

  .fu-md-spacing-ml-04 {
    margin-left: 0.75rem;
  }

  .fu-md-spacing-ml-05 {
    margin-left: 1rem;
  }

  .fu-md-spacing-ml-06 {
    margin-left: 1.5rem;
  }

  .fu-md-spacing-ml-07 {
    margin-left: 2rem;
  }

  .fu-md-spacing-ml-08 {
    margin-left: 2.5rem;
  }

  .fu-md-spacing-ml-09 {
    margin-left: 3rem;
  }

  .fu-md-spacing-mr-00 {
    margin-right: 0;
  }

  .fu-md-spacing-mr-01 {
    margin-right: 0.125rem;
  }

  .fu-md-spacing-mr-02 {
    margin-right: 0.25rem;
  }

  .fu-md-spacing-mr-03 {
    margin-right: 0.5rem;
  }

  .fu-md-spacing-mr-04 {
    margin-right: 0.75rem;
  }

  .fu-md-spacing-mr-05 {
    margin-right: 1rem;
  }

  .fu-md-spacing-mr-06 {
    margin-right: 1.5rem;
  }

  .fu-md-spacing-mr-07 {
    margin-right: 2rem;
  }

  .fu-md-spacing-mr-08 {
    margin-right: 2.5rem;
  }

  .fu-md-spacing-mr-09 {
    margin-right: 3rem;
  }

  .fu-md-spacing-n-m-00 {
    margin-top: 0;
  }

  .fu-md-spacing-n-m-01 {
    margin-top: -0.125rem;
  }

  .fu-md-spacing-n-m-02 {
    margin-top: -0.25rem;
  }

  .fu-md-spacing-n-m-03 {
    margin-top: -0.5rem;
  }

  .fu-md-spacing-n-m-04 {
    margin-top: -0.75rem;
  }

  .fu-md-spacing-n-m-05 {
    margin-top: -1rem;
  }

  .fu-md-spacing-n-m-06 {
    margin-top: -1.5rem;
  }

  .fu-md-spacing-n-m-07 {
    margin-top: -2rem;
  }

  .fu-md-spacing-n-m-08 {
    margin-top: -2.5rem;
  }

  .fu-md-spacing-n-m-09 {
    margin-top: -3rem;
  }

  .fu-md-spacing-n-mr-00 {
    margin-right: 0;
  }

  .fu-md-spacing-n-mr-01 {
    margin-right: -0.125rem;
  }

  .fu-md-spacing-n-mr-02 {
    margin-right: -0.25rem;
  }

  .fu-md-spacing-n-mr-03 {
    margin-right: -0.5rem;
  }

  .fu-md-spacing-n-mr-04 {
    margin-right: -0.75rem;
  }

  .fu-md-spacing-n-mr-05 {
    margin-right: -1rem;
  }

  .fu-md-spacing-n-mr-06 {
    margin-right: -1.5rem;
  }

  .fu-md-spacing-n-mr-07 {
    margin-right: -2rem;
  }

  .fu-md-spacing-n-mr-08 {
    margin-right: -2.5rem;
  }

  .fu-md-spacing-n-mr-09 {
    margin-right: -3rem;
  }

  .fu-md-spacing-n-mb-00 {
    margin-bottom: 0;
  }

  .fu-md-spacing-n-mb-01 {
    margin-bottom: -0.125rem;
  }

  .fu-md-spacing-n-mb-02 {
    margin-bottom: -0.25rem;
  }

  .fu-md-spacing-n-mb-03 {
    margin-bottom: -0.5rem;
  }

  .fu-md-spacing-n-mb-04 {
    margin-bottom: -0.75rem;
  }

  .fu-md-spacing-n-mb-05 {
    margin-bottom: -1rem;
  }

  .fu-md-spacing-n-mb-06 {
    margin-bottom: -1.5rem;
  }

  .fu-md-spacing-n-mb-07 {
    margin-bottom: -2rem;
  }

  .fu-md-spacing-n-mb-08 {
    margin-bottom: -2.5rem;
  }

  .fu-md-spacing-n-mb-09 {
    margin-bottom: -3rem;
  }

  .fu-md-spacing-n-ml-00 {
    margin-left: 0;
  }

  .fu-md-spacing-n-ml-01 {
    margin-left: -0.125rem;
  }

  .fu-md-spacing-n-ml-02 {
    margin-left: -0.25rem;
  }

  .fu-md-spacing-n-ml-03 {
    margin-left: -0.5rem;
  }

  .fu-md-spacing-n-ml-04 {
    margin-left: -0.75rem;
  }

  .fu-md-spacing-n-ml-05 {
    margin-left: -1rem;
  }

  .fu-md-spacing-n-ml-06 {
    margin-left: -1.5rem;
  }

  .fu-md-spacing-n-ml-07 {
    margin-left: -2rem;
  }

  .fu-md-spacing-n-ml-08 {
    margin-left: -2.5rem;
  }

  .fu-md-spacing-n-ml-09 {
    margin-left: -3rem;
  }

  .fu-md-spacing-p-00 {
    padding: 0;
  }

  .fu-md-spacing-p-01 {
    padding: 0.125rem;
  }

  .fu-md-spacing-p-02 {
    padding: 0.25rem;
  }

  .fu-md-spacing-p-03 {
    padding: 0.5rem;
  }

  .fu-md-spacing-p-04 {
    padding: 0.75rem;
  }

  .fu-md-spacing-p-05 {
    padding: 1rem;
  }

  .fu-md-spacing-p-06 {
    padding: 1.5rem;
  }

  .fu-md-spacing-p-07 {
    padding: 2rem;
  }

  .fu-md-spacing-p-08 {
    padding: 2.5rem;
  }

  .fu-md-spacing-p-09 {
    padding: 3rem;
  }

  .fu-md-spacing-pt-00 {
    padding-top: 0;
  }

  .fu-md-spacing-pt-01 {
    padding-top: 0.125rem;
  }

  .fu-md-spacing-pt-02 {
    padding-top: 0.25rem;
  }

  .fu-md-spacing-pt-03 {
    padding-top: 0.5rem;
  }

  .fu-md-spacing-pt-04 {
    padding-top: 0.75rem;
  }

  .fu-md-spacing-pt-05 {
    padding-top: 1rem;
  }

  .fu-md-spacing-pt-06 {
    padding-top: 1.5rem;
  }

  .fu-md-spacing-pt-07 {
    padding-top: 2rem;
  }

  .fu-md-spacing-pt-08 {
    padding-top: 2.5rem;
  }

  .fu-md-spacing-pt-09 {
    padding-top: 3rem;
  }

  .fu-md-spacing-pr-00 {
    padding-right: 0;
  }

  .fu-md-spacing-pr-01 {
    padding-right: 0.125rem;
  }

  .fu-md-spacing-pr-02 {
    padding-right: 0.25rem;
  }

  .fu-md-spacing-pr-03 {
    padding-right: 0.5rem;
  }

  .fu-md-spacing-pr-04 {
    padding-right: 0.75rem;
  }

  .fu-md-spacing-pr-05 {
    padding-right: 1rem;
  }

  .fu-md-spacing-pr-06 {
    padding-right: 1.5rem;
  }

  .fu-md-spacing-pr-07 {
    padding-right: 2rem;
  }

  .fu-md-spacing-pr-08 {
    padding-right: 2.5rem;
  }

  .fu-md-spacing-pr-09 {
    padding-right: 3rem;
  }

  .fu-md-spacing-pb-00 {
    padding-bottom: 0;
  }

  .fu-md-spacing-pb-01 {
    padding-bottom: 0.125rem;
  }

  .fu-md-spacing-pb-02 {
    padding-bottom: 0.25rem;
  }

  .fu-md-spacing-pb-03 {
    padding-bottom: 0.5rem;
  }

  .fu-md-spacing-pb-04 {
    padding-bottom: 0.75rem;
  }

  .fu-md-spacing-pb-05 {
    padding-bottom: 1rem;
  }

  .fu-md-spacing-pb-06 {
    padding-bottom: 1.5rem;
  }

  .fu-md-spacing-pb-07 {
    padding-bottom: 2rem;
  }

  .fu-md-spacing-pb-08 {
    padding-bottom: 2.5rem;
  }

  .fu-md-spacing-pb-09 {
    padding-bottom: 3rem;
  }

  .fu-md-spacing-pl-00 {
    padding-left: 0;
  }

  .fu-md-spacing-pl-01 {
    padding-left: 0.125rem;
  }

  .fu-md-spacing-pl-02 {
    padding-left: 0.25rem;
  }

  .fu-md-spacing-pl-03 {
    padding-left: 0.5rem;
  }

  .fu-md-spacing-pl-04 {
    padding-left: 0.75rem;
  }

  .fu-md-spacing-pl-05 {
    padding-left: 1rem;
  }

  .fu-md-spacing-pl-06 {
    padding-left: 1.5rem;
  }

  .fu-md-spacing-pl-07 {
    padding-left: 2rem;
  }

  .fu-md-spacing-pl-08 {
    padding-left: 2.5rem;
  }

  .fu-md-spacing-pl-09 {
    padding-left: 3rem;
  }

  .fu-md-layout-m-01 {
    margin-top: 1rem;
  }

  .fu-md-layout-m-02 {
    margin-top: 1.5rem;
  }

  .fu-md-layout-m-03 {
    margin-top: 2rem;
  }

  .fu-md-layout-m-04 {
    margin-top: 3rem;
  }

  .fu-md-layout-m-05 {
    margin-top: 4rem;
  }

  .fu-md-layout-m-06 {
    margin-top: 6rem;
  }

  .fu-md-layout-m-07 {
    margin-top: 10rem;
  }

  .fu-md-layout-mt-01 {
    margin-top: 1rem;
  }

  .fu-md-layout-mt-02 {
    margin-top: 1.5rem;
  }

  .fu-md-layout-mt-03 {
    margin-top: 2rem;
  }

  .fu-md-layout-mt-04 {
    margin-top: 3rem;
  }

  .fu-md-layout-mt-05 {
    margin-top: 4rem;
  }

  .fu-md-layout-mt-06 {
    margin-top: 6rem;
  }

  .fu-md-layout-mt-07 {
    margin-top: 10rem;
  }

  .fu-md-layout-mb-01 {
    margin-bottom: 1rem;
  }

  .fu-md-layout-mb-02 {
    margin-bottom: 1.5rem;
  }

  .fu-md-layout-mb-03 {
    margin-bottom: 2rem;
  }

  .fu-md-layout-mb-04 {
    margin-bottom: 3rem;
  }

  .fu-md-layout-mb-05 {
    margin-bottom: 4rem;
  }

  .fu-md-layout-mb-06 {
    margin-bottom: 6rem;
  }

  .fu-md-layout-mb-07 {
    margin-bottom: 10rem;
  }

  .fu-md-layout-ml-01 {
    margin-left: 1rem;
  }

  .fu-md-layout-ml-02 {
    margin-left: 1.5rem;
  }

  .fu-md-layout-ml-03 {
    margin-left: 2rem;
  }

  .fu-md-layout-ml-04 {
    margin-left: 3rem;
  }

  .fu-md-layout-ml-05 {
    margin-left: 4rem;
  }

  .fu-md-layout-ml-06 {
    margin-left: 6rem;
  }

  .fu-md-layout-ml-07 {
    margin-left: 10rem;
  }

  .fu-md-layout-mr-01 {
    margin-right: 1rem;
  }

  .fu-md-layout-mr-02 {
    margin-right: 1.5rem;
  }

  .fu-md-layout-mr-03 {
    margin-right: 2rem;
  }

  .fu-md-layout-mr-04 {
    margin-right: 3rem;
  }

  .fu-md-layout-mr-05 {
    margin-right: 4rem;
  }

  .fu-md-layout-mr-06 {
    margin-right: 6rem;
  }

  .fu-md-layout-mr-07 {
    margin-right: 10rem;
  }

  .fu-md-layout-n-m-01 {
    margin-top: -1rem;
  }

  .fu-md-layout-n-m-02 {
    margin-top: -1.5rem;
  }

  .fu-md-layout-n-m-03 {
    margin-top: -2rem;
  }

  .fu-md-layout-n-m-04 {
    margin-top: -3rem;
  }

  .fu-md-layout-n-m-05 {
    margin-top: -4rem;
  }

  .fu-md-layout-n-m-06 {
    margin-top: -6rem;
  }

  .fu-md-layout-n-m-07 {
    margin-top: -10rem;
  }

  .fu-md-layout-n-mr-01 {
    margin-right: -1rem;
  }

  .fu-md-layout-n-mr-02 {
    margin-right: -1.5rem;
  }

  .fu-md-layout-n-mr-03 {
    margin-right: -2rem;
  }

  .fu-md-layout-n-mr-04 {
    margin-right: -3rem;
  }

  .fu-md-layout-n-mr-05 {
    margin-right: -4rem;
  }

  .fu-md-layout-n-mr-06 {
    margin-right: -6rem;
  }

  .fu-md-layout-n-mr-07 {
    margin-right: -10rem;
  }

  .fu-md-layout-n-mb-01 {
    margin-bottom: -1rem;
  }

  .fu-md-layout-n-mb-02 {
    margin-bottom: -1.5rem;
  }

  .fu-md-layout-n-mb-03 {
    margin-bottom: -2rem;
  }

  .fu-md-layout-n-mb-04 {
    margin-bottom: -3rem;
  }

  .fu-md-layout-n-mb-05 {
    margin-bottom: -4rem;
  }

  .fu-md-layout-n-mb-06 {
    margin-bottom: -6rem;
  }

  .fu-md-layout-n-mb-07 {
    margin-bottom: -10rem;
  }

  .fu-md-layout-n-ml-01 {
    margin-left: -1rem;
  }

  .fu-md-layout-n-ml-02 {
    margin-left: -1.5rem;
  }

  .fu-md-layout-n-ml-03 {
    margin-left: -2rem;
  }

  .fu-md-layout-n-ml-04 {
    margin-left: -3rem;
  }

  .fu-md-layout-n-ml-05 {
    margin-left: -4rem;
  }

  .fu-md-layout-n-ml-06 {
    margin-left: -6rem;
  }

  .fu-md-layout-n-ml-07 {
    margin-left: -10rem;
  }

  .fu-md-layout-p-01 {
    padding: 1rem;
  }

  .fu-md-layout-p-02 {
    padding: 1.5rem;
  }

  .fu-md-layout-p-03 {
    padding: 2rem;
  }

  .fu-md-layout-p-04 {
    padding: 3rem;
  }

  .fu-md-layout-p-05 {
    padding: 4rem;
  }

  .fu-md-layout-p-06 {
    padding: 6rem;
  }

  .fu-md-layout-p-07 {
    padding: 10rem;
  }

  .fu-md-layout-pt-01 {
    padding-top: 1rem;
  }

  .fu-md-layout-pt-02 {
    padding-top: 1.5rem;
  }

  .fu-md-layout-pt-03 {
    padding-top: 2rem;
  }

  .fu-md-layout-pt-04 {
    padding-top: 3rem;
  }

  .fu-md-layout-pt-05 {
    padding-top: 4rem;
  }

  .fu-md-layout-pt-06 {
    padding-top: 6rem;
  }

  .fu-md-layout-pt-07 {
    padding-top: 10rem;
  }

  .fu-md-layout-pr-01 {
    padding-right: 1rem;
  }

  .fu-md-layout-pr-02 {
    padding-right: 1.5rem;
  }

  .fu-md-layout-pr-03 {
    padding-right: 2rem;
  }

  .fu-md-layout-pr-04 {
    padding-right: 3rem;
  }

  .fu-md-layout-pr-05 {
    padding-right: 4rem;
  }

  .fu-md-layout-pr-06 {
    padding-right: 6rem;
  }

  .fu-md-layout-pr-07 {
    padding-right: 10rem;
  }

  .fu-md-layout-pb-01 {
    padding-bottom: 1rem;
  }

  .fu-md-layout-pb-02 {
    padding-bottom: 1.5rem;
  }

  .fu-md-layout-pb-03 {
    padding-bottom: 2rem;
  }

  .fu-md-layout-pb-04 {
    padding-bottom: 3rem;
  }

  .fu-md-layout-pb-05 {
    padding-bottom: 4rem;
  }

  .fu-md-layout-pb-06 {
    padding-bottom: 6rem;
  }

  .fu-md-layout-pb-07 {
    padding-bottom: 10rem;
  }

  .fu-md-layout-pl-01 {
    padding-left: 1rem;
  }

  .fu-md-layout-pl-02 {
    padding-left: 1.5rem;
  }

  .fu-md-layout-pl-03 {
    padding-left: 2rem;
  }

  .fu-md-layout-pl-04 {
    padding-left: 3rem;
  }

  .fu-md-layout-pl-05 {
    padding-left: 4rem;
  }

  .fu-md-layout-pl-06 {
    padding-left: 6rem;
  }

  .fu-md-layout-pl-07 {
    padding-left: 10rem;
  }

  .fu-md-width-full {
    width: 100%;
  }

  .fu-md-width-half {
    width: 50%;
  }

  .fu-md-width-quarter {
    width: 25%;
  }

  .fu-md-width-third {
    width: 33.3333333333%;
  }
}
@media screen and (min-width: 992px) {
  .fu-lg-spacing-m-00 {
    margin-top: 0;
  }

  .fu-lg-spacing-m-01 {
    margin-top: 0.125rem;
  }

  .fu-lg-spacing-m-02 {
    margin-top: 0.25rem;
  }

  .fu-lg-spacing-m-03 {
    margin-top: 0.5rem;
  }

  .fu-lg-spacing-m-04 {
    margin-top: 0.75rem;
  }

  .fu-lg-spacing-m-05 {
    margin-top: 1rem;
  }

  .fu-lg-spacing-m-06 {
    margin-top: 1.5rem;
  }

  .fu-lg-spacing-m-07 {
    margin-top: 2rem;
  }

  .fu-lg-spacing-m-08 {
    margin-top: 2.5rem;
  }

  .fu-lg-spacing-m-09 {
    margin-top: 3rem;
  }

  .fu-lg-spacing-mt-00 {
    margin-top: 0;
  }

  .fu-lg-spacing-mt-01 {
    margin-top: 0.125rem;
  }

  .fu-lg-spacing-mt-02 {
    margin-top: 0.25rem;
  }

  .fu-lg-spacing-mt-03 {
    margin-top: 0.5rem;
  }

  .fu-lg-spacing-mt-04 {
    margin-top: 0.75rem;
  }

  .fu-lg-spacing-mt-05 {
    margin-top: 1rem;
  }

  .fu-lg-spacing-mt-06 {
    margin-top: 1.5rem;
  }

  .fu-lg-spacing-mt-07 {
    margin-top: 2rem;
  }

  .fu-lg-spacing-mt-08 {
    margin-top: 2.5rem;
  }

  .fu-lg-spacing-mt-09 {
    margin-top: 3rem;
  }

  .fu-lg-spacing-mb-00 {
    margin-bottom: 0;
  }

  .fu-lg-spacing-mb-01 {
    margin-bottom: 0.125rem;
  }

  .fu-lg-spacing-mb-02 {
    margin-bottom: 0.25rem;
  }

  .fu-lg-spacing-mb-03 {
    margin-bottom: 0.5rem;
  }

  .fu-lg-spacing-mb-04 {
    margin-bottom: 0.75rem;
  }

  .fu-lg-spacing-mb-05 {
    margin-bottom: 1rem;
  }

  .fu-lg-spacing-mb-06 {
    margin-bottom: 1.5rem;
  }

  .fu-lg-spacing-mb-07 {
    margin-bottom: 2rem;
  }

  .fu-lg-spacing-mb-08 {
    margin-bottom: 2.5rem;
  }

  .fu-lg-spacing-mb-09 {
    margin-bottom: 3rem;
  }

  .fu-lg-spacing-ml-00 {
    margin-left: 0;
  }

  .fu-lg-spacing-ml-01 {
    margin-left: 0.125rem;
  }

  .fu-lg-spacing-ml-02 {
    margin-left: 0.25rem;
  }

  .fu-lg-spacing-ml-03 {
    margin-left: 0.5rem;
  }

  .fu-lg-spacing-ml-04 {
    margin-left: 0.75rem;
  }

  .fu-lg-spacing-ml-05 {
    margin-left: 1rem;
  }

  .fu-lg-spacing-ml-06 {
    margin-left: 1.5rem;
  }

  .fu-lg-spacing-ml-07 {
    margin-left: 2rem;
  }

  .fu-lg-spacing-ml-08 {
    margin-left: 2.5rem;
  }

  .fu-lg-spacing-ml-09 {
    margin-left: 3rem;
  }

  .fu-lg-spacing-mr-00 {
    margin-right: 0;
  }

  .fu-lg-spacing-mr-01 {
    margin-right: 0.125rem;
  }

  .fu-lg-spacing-mr-02 {
    margin-right: 0.25rem;
  }

  .fu-lg-spacing-mr-03 {
    margin-right: 0.5rem;
  }

  .fu-lg-spacing-mr-04 {
    margin-right: 0.75rem;
  }

  .fu-lg-spacing-mr-05 {
    margin-right: 1rem;
  }

  .fu-lg-spacing-mr-06 {
    margin-right: 1.5rem;
  }

  .fu-lg-spacing-mr-07 {
    margin-right: 2rem;
  }

  .fu-lg-spacing-mr-08 {
    margin-right: 2.5rem;
  }

  .fu-lg-spacing-mr-09 {
    margin-right: 3rem;
  }

  .fu-lg-spacing-n-m-00 {
    margin-top: 0;
  }

  .fu-lg-spacing-n-m-01 {
    margin-top: -0.125rem;
  }

  .fu-lg-spacing-n-m-02 {
    margin-top: -0.25rem;
  }

  .fu-lg-spacing-n-m-03 {
    margin-top: -0.5rem;
  }

  .fu-lg-spacing-n-m-04 {
    margin-top: -0.75rem;
  }

  .fu-lg-spacing-n-m-05 {
    margin-top: -1rem;
  }

  .fu-lg-spacing-n-m-06 {
    margin-top: -1.5rem;
  }

  .fu-lg-spacing-n-m-07 {
    margin-top: -2rem;
  }

  .fu-lg-spacing-n-m-08 {
    margin-top: -2.5rem;
  }

  .fu-lg-spacing-n-m-09 {
    margin-top: -3rem;
  }

  .fu-lg-spacing-n-mr-00 {
    margin-right: 0;
  }

  .fu-lg-spacing-n-mr-01 {
    margin-right: -0.125rem;
  }

  .fu-lg-spacing-n-mr-02 {
    margin-right: -0.25rem;
  }

  .fu-lg-spacing-n-mr-03 {
    margin-right: -0.5rem;
  }

  .fu-lg-spacing-n-mr-04 {
    margin-right: -0.75rem;
  }

  .fu-lg-spacing-n-mr-05 {
    margin-right: -1rem;
  }

  .fu-lg-spacing-n-mr-06 {
    margin-right: -1.5rem;
  }

  .fu-lg-spacing-n-mr-07 {
    margin-right: -2rem;
  }

  .fu-lg-spacing-n-mr-08 {
    margin-right: -2.5rem;
  }

  .fu-lg-spacing-n-mr-09 {
    margin-right: -3rem;
  }

  .fu-lg-spacing-n-mb-00 {
    margin-bottom: 0;
  }

  .fu-lg-spacing-n-mb-01 {
    margin-bottom: -0.125rem;
  }

  .fu-lg-spacing-n-mb-02 {
    margin-bottom: -0.25rem;
  }

  .fu-lg-spacing-n-mb-03 {
    margin-bottom: -0.5rem;
  }

  .fu-lg-spacing-n-mb-04 {
    margin-bottom: -0.75rem;
  }

  .fu-lg-spacing-n-mb-05 {
    margin-bottom: -1rem;
  }

  .fu-lg-spacing-n-mb-06 {
    margin-bottom: -1.5rem;
  }

  .fu-lg-spacing-n-mb-07 {
    margin-bottom: -2rem;
  }

  .fu-lg-spacing-n-mb-08 {
    margin-bottom: -2.5rem;
  }

  .fu-lg-spacing-n-mb-09 {
    margin-bottom: -3rem;
  }

  .fu-lg-spacing-n-ml-00 {
    margin-left: 0;
  }

  .fu-lg-spacing-n-ml-01 {
    margin-left: -0.125rem;
  }

  .fu-lg-spacing-n-ml-02 {
    margin-left: -0.25rem;
  }

  .fu-lg-spacing-n-ml-03 {
    margin-left: -0.5rem;
  }

  .fu-lg-spacing-n-ml-04 {
    margin-left: -0.75rem;
  }

  .fu-lg-spacing-n-ml-05 {
    margin-left: -1rem;
  }

  .fu-lg-spacing-n-ml-06 {
    margin-left: -1.5rem;
  }

  .fu-lg-spacing-n-ml-07 {
    margin-left: -2rem;
  }

  .fu-lg-spacing-n-ml-08 {
    margin-left: -2.5rem;
  }

  .fu-lg-spacing-n-ml-09 {
    margin-left: -3rem;
  }

  .fu-lg-spacing-p-00 {
    padding: 0;
  }

  .fu-lg-spacing-p-01 {
    padding: 0.125rem;
  }

  .fu-lg-spacing-p-02 {
    padding: 0.25rem;
  }

  .fu-lg-spacing-p-03 {
    padding: 0.5rem;
  }

  .fu-lg-spacing-p-04 {
    padding: 0.75rem;
  }

  .fu-lg-spacing-p-05 {
    padding: 1rem;
  }

  .fu-lg-spacing-p-06 {
    padding: 1.5rem;
  }

  .fu-lg-spacing-p-07 {
    padding: 2rem;
  }

  .fu-lg-spacing-p-08 {
    padding: 2.5rem;
  }

  .fu-lg-spacing-p-09 {
    padding: 3rem;
  }

  .fu-lg-spacing-pt-00 {
    padding-top: 0;
  }

  .fu-lg-spacing-pt-01 {
    padding-top: 0.125rem;
  }

  .fu-lg-spacing-pt-02 {
    padding-top: 0.25rem;
  }

  .fu-lg-spacing-pt-03 {
    padding-top: 0.5rem;
  }

  .fu-lg-spacing-pt-04 {
    padding-top: 0.75rem;
  }

  .fu-lg-spacing-pt-05 {
    padding-top: 1rem;
  }

  .fu-lg-spacing-pt-06 {
    padding-top: 1.5rem;
  }

  .fu-lg-spacing-pt-07 {
    padding-top: 2rem;
  }

  .fu-lg-spacing-pt-08 {
    padding-top: 2.5rem;
  }

  .fu-lg-spacing-pt-09 {
    padding-top: 3rem;
  }

  .fu-lg-spacing-pr-00 {
    padding-right: 0;
  }

  .fu-lg-spacing-pr-01 {
    padding-right: 0.125rem;
  }

  .fu-lg-spacing-pr-02 {
    padding-right: 0.25rem;
  }

  .fu-lg-spacing-pr-03 {
    padding-right: 0.5rem;
  }

  .fu-lg-spacing-pr-04 {
    padding-right: 0.75rem;
  }

  .fu-lg-spacing-pr-05 {
    padding-right: 1rem;
  }

  .fu-lg-spacing-pr-06 {
    padding-right: 1.5rem;
  }

  .fu-lg-spacing-pr-07 {
    padding-right: 2rem;
  }

  .fu-lg-spacing-pr-08 {
    padding-right: 2.5rem;
  }

  .fu-lg-spacing-pr-09 {
    padding-right: 3rem;
  }

  .fu-lg-spacing-pb-00 {
    padding-bottom: 0;
  }

  .fu-lg-spacing-pb-01 {
    padding-bottom: 0.125rem;
  }

  .fu-lg-spacing-pb-02 {
    padding-bottom: 0.25rem;
  }

  .fu-lg-spacing-pb-03 {
    padding-bottom: 0.5rem;
  }

  .fu-lg-spacing-pb-04 {
    padding-bottom: 0.75rem;
  }

  .fu-lg-spacing-pb-05 {
    padding-bottom: 1rem;
  }

  .fu-lg-spacing-pb-06 {
    padding-bottom: 1.5rem;
  }

  .fu-lg-spacing-pb-07 {
    padding-bottom: 2rem;
  }

  .fu-lg-spacing-pb-08 {
    padding-bottom: 2.5rem;
  }

  .fu-lg-spacing-pb-09 {
    padding-bottom: 3rem;
  }

  .fu-lg-spacing-pl-00 {
    padding-left: 0;
  }

  .fu-lg-spacing-pl-01 {
    padding-left: 0.125rem;
  }

  .fu-lg-spacing-pl-02 {
    padding-left: 0.25rem;
  }

  .fu-lg-spacing-pl-03 {
    padding-left: 0.5rem;
  }

  .fu-lg-spacing-pl-04 {
    padding-left: 0.75rem;
  }

  .fu-lg-spacing-pl-05 {
    padding-left: 1rem;
  }

  .fu-lg-spacing-pl-06 {
    padding-left: 1.5rem;
  }

  .fu-lg-spacing-pl-07 {
    padding-left: 2rem;
  }

  .fu-lg-spacing-pl-08 {
    padding-left: 2.5rem;
  }

  .fu-lg-spacing-pl-09 {
    padding-left: 3rem;
  }

  .fu-lg-layout-m-01 {
    margin-top: 1rem;
  }

  .fu-lg-layout-m-02 {
    margin-top: 1.5rem;
  }

  .fu-lg-layout-m-03 {
    margin-top: 2rem;
  }

  .fu-lg-layout-m-04 {
    margin-top: 3rem;
  }

  .fu-lg-layout-m-05 {
    margin-top: 4rem;
  }

  .fu-lg-layout-m-06 {
    margin-top: 6rem;
  }

  .fu-lg-layout-m-07 {
    margin-top: 10rem;
  }

  .fu-lg-layout-mt-01 {
    margin-top: 1rem;
  }

  .fu-lg-layout-mt-02 {
    margin-top: 1.5rem;
  }

  .fu-lg-layout-mt-03 {
    margin-top: 2rem;
  }

  .fu-lg-layout-mt-04 {
    margin-top: 3rem;
  }

  .fu-lg-layout-mt-05 {
    margin-top: 4rem;
  }

  .fu-lg-layout-mt-06 {
    margin-top: 6rem;
  }

  .fu-lg-layout-mt-07 {
    margin-top: 10rem;
  }

  .fu-lg-layout-mb-01 {
    margin-bottom: 1rem;
  }

  .fu-lg-layout-mb-02 {
    margin-bottom: 1.5rem;
  }

  .fu-lg-layout-mb-03 {
    margin-bottom: 2rem;
  }

  .fu-lg-layout-mb-04 {
    margin-bottom: 3rem;
  }

  .fu-lg-layout-mb-05 {
    margin-bottom: 4rem;
  }

  .fu-lg-layout-mb-06 {
    margin-bottom: 6rem;
  }

  .fu-lg-layout-mb-07 {
    margin-bottom: 10rem;
  }

  .fu-lg-layout-ml-01 {
    margin-left: 1rem;
  }

  .fu-lg-layout-ml-02 {
    margin-left: 1.5rem;
  }

  .fu-lg-layout-ml-03 {
    margin-left: 2rem;
  }

  .fu-lg-layout-ml-04 {
    margin-left: 3rem;
  }

  .fu-lg-layout-ml-05 {
    margin-left: 4rem;
  }

  .fu-lg-layout-ml-06 {
    margin-left: 6rem;
  }

  .fu-lg-layout-ml-07 {
    margin-left: 10rem;
  }

  .fu-lg-layout-mr-01 {
    margin-right: 1rem;
  }

  .fu-lg-layout-mr-02 {
    margin-right: 1.5rem;
  }

  .fu-lg-layout-mr-03 {
    margin-right: 2rem;
  }

  .fu-lg-layout-mr-04 {
    margin-right: 3rem;
  }

  .fu-lg-layout-mr-05 {
    margin-right: 4rem;
  }

  .fu-lg-layout-mr-06 {
    margin-right: 6rem;
  }

  .fu-lg-layout-mr-07 {
    margin-right: 10rem;
  }

  .fu-lg-layout-n-m-01 {
    margin-top: -1rem;
  }

  .fu-lg-layout-n-m-02 {
    margin-top: -1.5rem;
  }

  .fu-lg-layout-n-m-03 {
    margin-top: -2rem;
  }

  .fu-lg-layout-n-m-04 {
    margin-top: -3rem;
  }

  .fu-lg-layout-n-m-05 {
    margin-top: -4rem;
  }

  .fu-lg-layout-n-m-06 {
    margin-top: -6rem;
  }

  .fu-lg-layout-n-m-07 {
    margin-top: -10rem;
  }

  .fu-lg-layout-n-mr-01 {
    margin-right: -1rem;
  }

  .fu-lg-layout-n-mr-02 {
    margin-right: -1.5rem;
  }

  .fu-lg-layout-n-mr-03 {
    margin-right: -2rem;
  }

  .fu-lg-layout-n-mr-04 {
    margin-right: -3rem;
  }

  .fu-lg-layout-n-mr-05 {
    margin-right: -4rem;
  }

  .fu-lg-layout-n-mr-06 {
    margin-right: -6rem;
  }

  .fu-lg-layout-n-mr-07 {
    margin-right: -10rem;
  }

  .fu-lg-layout-n-mb-01 {
    margin-bottom: -1rem;
  }

  .fu-lg-layout-n-mb-02 {
    margin-bottom: -1.5rem;
  }

  .fu-lg-layout-n-mb-03 {
    margin-bottom: -2rem;
  }

  .fu-lg-layout-n-mb-04 {
    margin-bottom: -3rem;
  }

  .fu-lg-layout-n-mb-05 {
    margin-bottom: -4rem;
  }

  .fu-lg-layout-n-mb-06 {
    margin-bottom: -6rem;
  }

  .fu-lg-layout-n-mb-07 {
    margin-bottom: -10rem;
  }

  .fu-lg-layout-n-ml-01 {
    margin-left: -1rem;
  }

  .fu-lg-layout-n-ml-02 {
    margin-left: -1.5rem;
  }

  .fu-lg-layout-n-ml-03 {
    margin-left: -2rem;
  }

  .fu-lg-layout-n-ml-04 {
    margin-left: -3rem;
  }

  .fu-lg-layout-n-ml-05 {
    margin-left: -4rem;
  }

  .fu-lg-layout-n-ml-06 {
    margin-left: -6rem;
  }

  .fu-lg-layout-n-ml-07 {
    margin-left: -10rem;
  }

  .fu-lg-layout-p-01 {
    padding: 1rem;
  }

  .fu-lg-layout-p-02 {
    padding: 1.5rem;
  }

  .fu-lg-layout-p-03 {
    padding: 2rem;
  }

  .fu-lg-layout-p-04 {
    padding: 3rem;
  }

  .fu-lg-layout-p-05 {
    padding: 4rem;
  }

  .fu-lg-layout-p-06 {
    padding: 6rem;
  }

  .fu-lg-layout-p-07 {
    padding: 10rem;
  }

  .fu-lg-layout-pt-01 {
    padding-top: 1rem;
  }

  .fu-lg-layout-pt-02 {
    padding-top: 1.5rem;
  }

  .fu-lg-layout-pt-03 {
    padding-top: 2rem;
  }

  .fu-lg-layout-pt-04 {
    padding-top: 3rem;
  }

  .fu-lg-layout-pt-05 {
    padding-top: 4rem;
  }

  .fu-lg-layout-pt-06 {
    padding-top: 6rem;
  }

  .fu-lg-layout-pt-07 {
    padding-top: 10rem;
  }

  .fu-lg-layout-pr-01 {
    padding-right: 1rem;
  }

  .fu-lg-layout-pr-02 {
    padding-right: 1.5rem;
  }

  .fu-lg-layout-pr-03 {
    padding-right: 2rem;
  }

  .fu-lg-layout-pr-04 {
    padding-right: 3rem;
  }

  .fu-lg-layout-pr-05 {
    padding-right: 4rem;
  }

  .fu-lg-layout-pr-06 {
    padding-right: 6rem;
  }

  .fu-lg-layout-pr-07 {
    padding-right: 10rem;
  }

  .fu-lg-layout-pb-01 {
    padding-bottom: 1rem;
  }

  .fu-lg-layout-pb-02 {
    padding-bottom: 1.5rem;
  }

  .fu-lg-layout-pb-03 {
    padding-bottom: 2rem;
  }

  .fu-lg-layout-pb-04 {
    padding-bottom: 3rem;
  }

  .fu-lg-layout-pb-05 {
    padding-bottom: 4rem;
  }

  .fu-lg-layout-pb-06 {
    padding-bottom: 6rem;
  }

  .fu-lg-layout-pb-07 {
    padding-bottom: 10rem;
  }

  .fu-lg-layout-pl-01 {
    padding-left: 1rem;
  }

  .fu-lg-layout-pl-02 {
    padding-left: 1.5rem;
  }

  .fu-lg-layout-pl-03 {
    padding-left: 2rem;
  }

  .fu-lg-layout-pl-04 {
    padding-left: 3rem;
  }

  .fu-lg-layout-pl-05 {
    padding-left: 4rem;
  }

  .fu-lg-layout-pl-06 {
    padding-left: 6rem;
  }

  .fu-lg-layout-pl-07 {
    padding-left: 10rem;
  }

  .fu-lg-width-full {
    width: 100%;
  }

  .fu-lg-width-half {
    width: 50%;
  }

  .fu-lg-width-quarter {
    width: 25%;
  }

  .fu-lg-width-third {
    width: 33.3333333333%;
  }
}

/*# sourceMappingURL=ficus-utilities.css.map */
