:root {
  --primary-color: #54e4e5;
  --primary-light-color: #76e9ea;
  --primary-dark-color: #43b6b7;
  --secondary-color: #63e48b;
  --secondary-light-color: #82e9a2;
  --secondary-dark-color: #4fb66f;
  --body-bg-color: #fff;
  --body-color: #121212;
  --high-emphasis-text-color: rgba(18, 18, 18, 0.87);
  --medium-emphasis-text-color: rgba(18, 18, 18, 0.6);
  --low-emphasis-text-color: rgba(18, 18, 18, 0.38);
  --white-color: #fff;
  --black-color: #000;
  --gray-10-color: #fafafa;
  --gray-20-color: #dddddd;
  --gray-30-color: #c0c0c0;
  --gray-40-color: #a4a4a4;
  --gray-50-color: #898989;
  --gray-60-color: #6f6f6f;
  --gray-70-color: #565656;
  --gray-80-color: #3e3e3e;
  --gray-90-color: #272727;
  --gray-100-color: #121212;
  --state-required: #fa4d56;
  --state-invalid: #fa4d56;
  --state-valid: #42be65;
  --state-focus: #43b6b7;
  --spacing-00: 0;
  --spacing-01: 0.125rem;
  --spacing-02: 0.25rem;
  --spacing-03: 0.5rem;
  --spacing-04: 0.75rem;
  --spacing-05: 1rem;
  --spacing-06: 1.5rem;
  --spacing-07: 2rem;
  --spacing-08: 2.5rem;
  --spacing-09: 3rem;
  --font-primary: Raleway, sans-serif;
  --font-secondary: Open Sans, sans-serif;
  --text-01: 0.75rem;
  --text-02: 0.875rem;
  --text-03: 1rem;
  --text-04: 1.25rem;
  --text-05: 1.5rem;
  --text-06: 2rem;
  --text-07: 3.75rem;
  --text-08: 5rem;
  --heading-line-height: 1.2;
  --body-line-height: 1.5;
  --ui-background: #fff;
  --ui-background-01: #fafafa;
  --ui-background-02: #dddddd;
  --ui-background-03: #c0c0c0;
  --ui-background-04: #a4a4a4;
  --ui-background-05: #898989;
  --ui-background-06: #6f6f6f;
  --ui-background-07: #565656;
  --ui-background-08: #3e3e3e;
  --ui-background-09: #272727;
  --ui-background-10: #121212;
  --ui-border-01: #fafafa;
  --ui-border-02: #dddddd;
  --ui-border-03: #c0c0c0;
  --ui-border-04: #a4a4a4;
  --ui-border-05: #898989;
  --ui-border-06: #6f6f6f;
  --ui-border-07: #565656;
  --ui-border-08: #3e3e3e;
  --ui-border-09: #272727;
  --ui-border-10: #121212;
  --ui-color: #000;
  --ui-elevation-background-01: #fff;
  --ui-elevation-background-02: #fff;
  --ui-elevation-background-03: #fff;
  --ui-elevation-background-04: #fff;
  --ui-elevation-background-05: #fff;
  --ui-elevation-background-06: #fff;
  --ui-elevation-background-07: #fff;
  --ui-elevation-background-08: #fff;
  --ui-elevation-background-09: #fff;
  --ui-elevation-shadow-01: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  --ui-elevation-shadow-02: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --ui-elevation-shadow-03: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  --ui-elevation-shadow-04: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  --ui-elevation-shadow-05: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  --ui-elevation-shadow-06: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  --ui-elevation-shadow-07: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12);
  --ui-elevation-shadow-08: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);
  --ui-elevation-shadow-09: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  --ui-border-radius-01: 2px;
  --ui-border-radius-02: 4px;
  --ui-border-radius-03: 4px;
}

[data-theme=dark] {
  --primary-color: #54e4e5;
  --primary-light-color: #76e9ea;
  --primary-dark-color: #43b6b7;
  --secondary-color: #63e48b;
  --secondary-light-color: #82e9a2;
  --secondary-dark-color: #4fb66f;
  --body-bg-color: #121212;
  --body-color: #fff;
  --high-emphasis-text-color: rgba(255, 255, 255, 0.87);
  --medium-emphasis-text-color: rgba(255, 255, 255, 0.6);
  --low-emphasis-text-color: rgba(255, 255, 255, 0.38);
  --border-color: rgba(255, 255, 255, 0.1);
  --ui-background-01: #272727;
  --ui-background-02: #3e3e3e;
  --ui-background-03: #565656;
  --ui-background-04: #6f6f6f;
  --ui-background-05: #898989;
  --ui-background-06: #a4a4a4;
  --ui-background-07: #c0c0c0;
  --ui-background-08: #dddddd;
  --ui-background-09: #fafafa;
  --ui-background-10: #fff;
  --ui-border-01: #272727;
  --ui-border-02: #3e3e3e;
  --ui-border-03: #565656;
  --ui-border-04: #6f6f6f;
  --ui-border-05: #898989;
  --ui-border-06: #a4a4a4;
  --ui-border-07: #c0c0c0;
  --ui-border-08: #dddddd;
  --ui-border-09: #fafafa;
  --ui-border-10: #fff;
  --ui-color: #fff;
  --ui-elevation-background-01: #272727;
  --ui-elevation-background-02: #3e3e3e;
  --ui-elevation-background-03: #565656;
  --ui-elevation-background-04: #6f6f6f;
  --ui-elevation-background-05: #898989;
  --ui-elevation-background-06: #a4a4a4;
  --ui-elevation-background-07: #c0c0c0;
  --ui-elevation-background-08: #dddddd;
  --ui-elevation-background-09: #fafafa;
  --ui-elevation-shadow-01: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  --ui-elevation-shadow-02: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --ui-elevation-shadow-03: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  --ui-elevation-shadow-04: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  --ui-elevation-shadow-05: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  --ui-elevation-shadow-06: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  --ui-elevation-shadow-07: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12);
  --ui-elevation-shadow-08: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);
  --ui-elevation-shadow-09: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  background: var(--body-bg-color);
  color: var(--body-color);
  font-size: var(--text-03);
  font-family: var(--font-secondary);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* The Thematic Break (Horizontal Rule) element styles */
hr {
  border-top: 1px solid var(--ui-border-02);
  margin: 0;
  border-width: 1px 0 0;
}

/* Code elements that don't have a class get default styles */
code:not([class]) {
  word-break: break-word;
  hyphens: manual;
  background-color: var(--ui-background-02);
  border-radius: var(--ui-border-radius-01);
  border: 1px solid var(--ui-border-03);
  padding-left: calc(var(--spacing-05) / 2);
  padding-right: calc(var(--spacing-05) / 2);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
.fu-text-07 {
  font-family: var(--font-primary);
  font-size: var(--text-07);
  line-height: var(--heading-line-height);
}

h2,
.fu-text-06 {
  font-family: var(--font-primary);
  font-size: var(--text-06);
  line-height: var(--heading-line-height);
}

h3,
.fu-text-05 {
  font-family: var(--font-primary);
  font-size: var(--text-05);
  line-height: var(--heading-line-height);
}

h4,
.fu-text-04 {
  font-family: var(--font-primary);
  font-size: var(--text-04);
  line-height: var(--heading-line-height);
}

h5,
.fu-text-03 {
  font-family: var(--font-primary);
  font-size: var(--text-03);
  line-height: var(--heading-line-height);
}

h6,
.fu-text-02 {
  font-family: var(--font-primary);
  font-size: var(--text-03);
  line-height: var(--heading-line-height);
}

p,
.fu-text-base {
  color: var(--high-emphasis-text-color);
  line-height: var(--body-line-height);
}

/*# sourceMappingURL=ficus-globals.css.map */
