:root {
  --header-height: 100px;
  --header-padding: var(--spacer-xl)
}

.fc-header {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: var(--header-height);
  padding: 0 var(--header-padding);
  border-bottom: 1px solid rgb(210, 210, 210)
}

.fc-header__section {
  align-items: center;
  display: flex;
  flex: 1 0 0;
}

.fc-header__section:not(:first-child):last-child {
  justify-content: flex-end;
}

.fc-header__center {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
}