body {
  overflow: hidden;
}

.fc-header {
  grid-area: header;
}

.fc-frame {
  position: relative;
}

.fc-frame iframe {
  border: 0;
  height: calc(100vh - var(--header-height));
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  scrollbar-width: none;
}

.fc-sidebar {
  grid-area: sidebar;
  width: 100%
}

.fl-grid-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "header"
    "sidebar"
    "content";
  min-height: 100vh;
}

@media (min-width: 36em) {
  .fl-grid-wrapper {
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--header-height) auto;
    grid-template-areas: 
      "header header"
      "sidebar content";
   }
}