.fc-header {
  grid-area: header;
}

.fc-content {
  grid-area: content;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.fc-content iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.fc-sidebar {
  grid-area: sidebar;
  width: 100%
}

.fl-grid-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "header"
    "sidebar"
    "content";
  min-height: 100vh;
}

@media (min-width: 36em) {
  .fl-grid-wrapper {
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--header-height) auto;
    grid-template-areas: 
      "header header"
      "sidebar content";
   }
}