// Component container

.fd-component-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: var(--spacing-07);
  border: 1px solid var(--ui-border-02);
  border-top-left-radius: var(--ui-border-radius-01);
  border-top-right-radius: var(--ui-border-radius-01);
  padding: var(--spacing-09) var(--spacing-07);
}

.fd-component-container + code[class*="language-"],
.fd-component-container + pre[class*="language-"] {
  margin-top: -1px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

code[class*="language-"],
pre[class*="language-"] {
  margin-top: var(--spacing-07) !important;
  margin-bottom: var(--spacing-07) !important
}