// Layout
.fd-doc-layout {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  // display: grid;
  // grid-template-columns: minmax(0px, 960px) 220px;
  // grid-template-areas: "breadcrumb sticky-aside" "article sticky-aside";
  // column-gap: var(--spacing-09);
  // grid-auto-rows: min-content;
  min-width: 0;
}

.fd-doc-article {

  // content flow
  --flow-space: var(--spacing-05);

  h1:not(:first-of-type) {
    --flow-space: var(--spacing-09);
  }

  h2 {
    --flow-space: var(--spacing-09);
  }

  h3 {
    --flow-space: var(--spacing-07);
  }

  h4 {
    --flow-space: var(--spacing-06);
  }

  h5,
  h6 {
    --flow-space: var(--spacing-05);
  }

  hr {
    --flow-space: var(--spacing-09);
  }

  table {
    --flow-space: var(--spacing-07);
  }

  & > :not(pre):not(table):not(.fd-component-container):not(hr) {
    max-width: 42rem;
  }
}


