@use 'settings' as *;

:root {
  // Main colors
  @each $color, $value in $global-colors {
    --#{$color}-color: #{$value};
  }
  // State colors
  @each $state, $value in $state-colors {
    --state-#{$state}: #{$value};
  }
  // Spacings
  @each $spacing, $value in $spacings {
    --spacing-#{$spacing}: #{$value};
  }
  // Fonts
  @each $font, $value in $font-families {
    --font-#{$font}: #{$value};
  }
  // Typography
  @each $type, $value in $type-scale {
    --text-#{$type}: #{$value};
  }
  // Line heights
  @each $line-height, $value in $line-heights {
    --#{$line-height}: #{$value};
  }
  // UI colors
  @each $ui-style, $value in $ui-styles {
    --#{$ui-style}: #{$value};
  }
  // UI elevations
  @each $elevation, $value in $ui-elevations {
    --#{$elevation}: #{$value};
  }
  @each $border-radius, $value in $ui-border-radius {
    --#{$border-radius}: #{$value};
  }
}

// adds custom properties to the `data-theme` attribute 
@if $enable-dark-mode {
  [data-theme="dark"] {
    // colors
    @each $dm-color, $value in $dm-colors {
      --#{$dm-color}-color: #{$value};
    }
    // components
    @each $dm-ui-style, $value in $dm-ui-styles {
      --#{$dm-ui-style}: #{$value};
    }
    // Elevations
  @each $dm-elevation, $value in $dm-ui-elevations {
    --#{$dm-elevation}: #{$value};
  }
  }
}


