// 
// FicusJS settings
// 

// Color system
// ------------

$white: #fff !default;
$gray-50: #fafafa !default;
$gray-100: #dddddd !default;
$gray-200: #c0c0c0 !default;
$gray-300: #a4a4a4 !default;
$gray-400: #898989 !default;
$gray-500: #6f6f6f !default;
$gray-600: #565656 !default;
$gray-700: #3e3e3e !default;
$gray-800: #272727 !default;
$gray-900: #121212 !default;
$black: #000 !default;
$grays: (
  'white': $white,
  'gray-50': $gray-100,
  'gray-100': $gray-100,
  'gray-200': $gray-200,
  'gray-300': $gray-300,
  'gray-400': $gray-400,
  'gray-500': $gray-500,
  'gray-600': $gray-600,
  'gray-700': $gray-700,
  'gray-800': $gray-800,
  'gray-900': $gray-900,
  'black': $black
);

$primary: #54e4e5 !default;
$secondary: #63e48b !default;
$body-bg: $white !default;
$body-color: $gray-900 !default;
$border-color: rgba($black, .1);
$colors: (
  'primary': $primary,
  'primary-light': tint($primary, 20%),
  'primary-dark': shade($primary, 20%),
  'secondary': $secondary,
  'secondary-light': tint($secondary, 20%),
  'secondary-dark': shade($secondary, 20%),
  'body-bg': $body-bg,
  'body': $body-color,
  'high-emphasis-text': rgba($body-color, .87),
  'medium-emphasis-text': rgba($body-color, .6),
  'low-emphasis-text': rgba($body-color, .38),
  'border': $border-color
);

$global-colors: map-merge($colors, $grays);

// Typography
// ----------

// font families
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$font-families: (
  'primary': $primary-font,
  'secondary': $secondary-font,
);

// base values
$text-base-size: 1rem;

// type scale
$type-scale: (
  'text-xs': calc(#{$text-base-size} * 0.75),
  'text-sm': calc(#{$text-base-size} * 0.875),
  'text-md': $text-base-size,
  'text-lg': calc(#{$text-base-size} * 1.25),
  'text-xl': calc(#{$text-base-size} * 1.5),
  'text-xxl': calc(#{$text-base-size} * 2),
  'text-xxxl': calc(#{$text-base-size} * 3.75),
  'text-xxxxl': calc(#{$text-base-size} * 5)
);

// line heights
$line-heights: (
  'heading-line-height': 1.2,
  'body-line-height': 1.5
);

// font weights 
$font-weights: (
  'light': 300,
  'normal': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700
);

// Spacing
// -------

$spacing-unit: 1rem;
$spacing-00: 0;
$spacing-01: 0.125 * $spacing-unit;
$spacing-02: 0.25 * $spacing-unit;
$spacing-03: 0.5 * $spacing-unit;
$spacing-04: 0.75 * $spacing-unit;
$spacing-05: $spacing-unit;
$spacing-06: 1.5 * $spacing-unit;
$spacing-07: 2 * $spacing-unit;
$spacing-08: 2.5 * $spacing-unit;
$spacing-09: 3 * $spacing-unit;
$spacings: (
  '00': $spacing-00,
  '01': $spacing-01,
  '02': $spacing-02,
  '03': $spacing-03,
  '04': $spacing-04,
  '05': $spacing-05,
  '06': $spacing-06,
  '07': $spacing-07,
  '08': $spacing-08,
  '09': $spacing-09
);

$negative-spacings: negativify-map($spacings) !default;

$border-radius: 2px;

// Grid breakpoints
// ----------------

$breakpoints: (
  'sm': '(min-width: 36em)',
  'md': '(min-width: 48em)',
  'lg': '(min-width: 62em)'
);

// Components
// ----------



$component-bg: $white;
$component-color: $black;
$component-border-color: $border-color;
$component-border-radius: 2px;
$component-shadow-elevation-1: 0 2px 1px -1px rgba($black,.2),0 1px 1px 0 rgba($black,.14),0 1px 3px 0 rgba($black,.12);
$component-shadow-elevation-2: 0 3px 1px -2px rgba($black,.2),0 2px 2px 0 rgba($black,.14),0 1px 5px 0 rgba($black,.12);
$component-shadow-elevation-3: 0 3px 3px -2px rgba($black,.2),0 3px 4px 0 rgba($black,.14),0 1px 8px 0 rgba($black,.12);
$component-shadow-elevation-4: 0 2px 4px -1px rgba($black,.2),0 4px 5px 0 rgba($black,.14),0 1px 10px 0 rgba($black,.12);
$component-shadow-elevation-5: 0 3px 5px -1px rgba($black,.2),0 6px 10px 0 rgba($black,.14),0 1px 18px 0 rgba($black,.12);
$component-shadow-elevation-6: 0 5px 5px -3px rgba($black,.2),0 8px 10px 1px rgba($black,.14),0 3px 14px 2px rgba($black,.12);
$component-shadow-elevation-7: 0 7px 8px -4px rgba($black,.2),0 12px 17px 2px rgba($black,.14),0 5px 22px 4px rgba($black,.12);
$component-shadow-elevation-8: 0 8px 10px -5px rgba($black,.2),0 16px 24px 2px rgba($black,.14),0 6px 30px 5px rgba($black,.12);
$component-shadow-elevation-9: 0 11px 15px -7px rgba($black,.2),0 24px 38px 3px rgba($black,.14),0 9px 46px 8px rgba($black,.12);
$component-styles: (
  'component-bg': $component-bg,
  'component-bg-elevation-1': $component-bg,
  'component-bg-elevation-2': $component-bg,
  'component-bg-elevation-3': $component-bg,
  'component-bg-elevation-4': $component-bg,
  'component-bg-elevation-5': $component-bg,
  'component-bg-elevation-6': $component-bg,
  'component-bg-elevation-7': $component-bg,
  'component-bg-elevation-8': $component-bg,
  'component-bg-elevation-9': $component-bg,
  'component-color': $component-color,
  'component-border-color': $component-border-color,
  'component-border-radius': $component-border-radius,
  'component-shadow-elevation-1': $component-shadow-elevation-1,
  'component-shadow-elevation-2': $component-shadow-elevation-2,
  'component-shadow-elevation-3': $component-shadow-elevation-3,
  'component-shadow-elevation-4': $component-shadow-elevation-4,
  'component-shadow-elevation-5': $component-shadow-elevation-5,
  'component-shadow-elevation-6': $component-shadow-elevation-6,
  'component-shadow-elevation-7': $component-shadow-elevation-7,
  'component-shadow-elevation-8': $component-shadow-elevation-8,
  'component-shadow-elevation-9': $component-shadow-elevation-9
) !default;

// Dark theme
// ----------

// colours

$enable-dark-mode: true !default;

$dm-primary: #54e4e5 !default;
$dm-secondary: #63e48b !default;
$dm-body-bg: $gray-900 !default;
$dm-body-color: $white !default;
$dm-border-color: rgba($white, .1);
$dm-colors: (
  'primary': $dm-primary,
  'primary-light': tint($dm-primary, 20%),
  'primary-dark': shade($dm-primary, 20%),
  'secondary': $dm-secondary,
  'secondary-light': tint($dm-secondary, 20%),
  'secondary-dark': shade($dm-secondary, 20%),
  'body-bg': $dm-body-bg,
  'body': $dm-body-color,
  'high-emphasis-text': rgba($dm-body-color, .87),
  'medium-emphasis-text': rgba($dm-body-color, .6),
  'low-emphasis-text': rgba($dm-body-color, .38),
  'border': $dm-border-color
) !default;



// components
$dm-component-bg: $gray-900;
$dm-component-color: $white;
$dm-component-border-color: $dm-border-color;
$dm-component-border-radius: 2px;
$dm-component-shadow-elevation-1: 0 2px 1px -1px rgba($black,.2),0 1px 1px 0 rgba($black,.14),0 1px 3px 0 rgba($black,.12);
$dm-component-shadow-elevation-2: 0 3px 1px -2px rgba($black,.2),0 2px 2px 0 rgba($black,.14),0 1px 5px 0 rgba($black,.12);
$dm-component-shadow-elevation-3: 0 3px 3px -2px rgba($black,.2),0 3px 4px 0 rgba($black,.14),0 1px 8px 0 rgba($black,.12);
$dm-component-shadow-elevation-4: 0 2px 4px -1px rgba($black,.2),0 4px 5px 0 rgba($black,.14),0 1px 10px 0 rgba($black,.12);
$dm-component-shadow-elevation-5: 0 3px 5px -1px rgba($black,.2),0 6px 10px 0 rgba($black,.14),0 1px 18px 0 rgba($black,.12);
$dm-component-shadow-elevation-6: 0 5px 5px -3px rgba($black,.2),0 8px 10px 1px rgba($black,.14),0 3px 14px 2px rgba($black,.12);
$dm-component-shadow-elevation-7: 0 7px 8px -4px rgba($black,.2),0 12px 17px 2px rgba($black,.14),0 5px 22px 4px rgba($black,.12);
$dm-component-shadow-elevation-8: 0 8px 10px -5px rgba($black,.2),0 16px 24px 2px rgba($black,.14),0 6px 30px 5px rgba($black,.12);
$dm-component-shadow-elevation-9: 0 11px 15px -7px rgba($black,.2),0 24px 38px 3px rgba($black,.14),0 9px 46px 8px rgba($black,.12);
$dm-component-styles: (
  'component-bg': $dm-component-bg,
  'component-bg-elevation-1': #1d1d1d,
  'component-bg-elevation-2': #222222,
  'component-bg-elevation-3': #242424,
  'component-bg-elevation-4': #272727,
  'component-bg-elevation-5': #2c2c2c,
  'component-bg-elevation-6': #2d2d2d,
  'component-bg-elevation-7': #323232,
  'component-bg-elevation-8': #343434,
  'component-bg-elevation-9': #373737,
  'component-color': $dm-component-color,
  'component-border-color': $dm-border-color,
  'component-border-radius': $dm-component-border-radius,
  'component-shadow-elevation-1': $dm-component-shadow-elevation-1,
  'component-shadow-elevation-2': $dm-component-shadow-elevation-2,
  'component-shadow-elevation-3': $dm-component-shadow-elevation-3,
  'component-shadow-elevation-4': $dm-component-shadow-elevation-4,
  'component-shadow-elevation-5': $dm-component-shadow-elevation-5,
  'component-shadow-elevation-6': $dm-component-shadow-elevation-6,
  'component-shadow-elevation-7': $dm-component-shadow-elevation-7,
  'component-shadow-elevation-8': $dm-component-shadow-elevation-8,
  'component-shadow-elevation-9': $dm-component-shadow-elevation-9
) !default;
