// 
// FicusJS settings
// 

// Color system
// ------------

$white: #fff !default;
$gray-1: #e6e6e6 !default;
$gray-2: #c3c3c3 !default;
$gray-3: #a1a1a1 !default;
$gray-4: #808080 !default;
$gray-5: #616161 !default;
$gray-6: #444444 !default;
$gray-7: #282828 !default;
$black: #0d0d0d !default;
$grays: (
  'white': $white,
  'gray-1': $gray-1,
  'gray-2': $gray-2,
  'gray-3': $gray-3,
  'gray-4': $gray-4,
  'gray-5': $gray-5,
  'gray-6': $gray-6,
  'gray-7': $gray-7,
  'black': $black
);

$primary: #54e4e5;
$secondary: #63e48b;
$colors: (
  'primary': $primary,
  'primary-light': tint($primary, 15%),
  'primary-dark': shade($primary, 15%),
  'secondary': $secondary,
  'secondary-light': tint($secondary, 15%),
  'secondary-dark': shade($secondary, 15%),
);

$global-colors: map-merge($colors, $grays);

// Typography
// ----------

// font families
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$font-families: (
  'primary': $primary-font,
  'secondary': $secondary-font,
);

// base values
$text-base-size: 1rem;

// type scale
$type-scale: (
  'text-xs': calc(#{$text-base-size} * 0.75),
  'text-sm': calc(#{$text-base-size} * 0.875),
  'text-md': $text-base-size,
  'text-lg': calc(#{$text-base-size} * 1.25),
  'text-xl': calc(#{$text-base-size} * 1.5),
  'text-xxl': calc(#{$text-base-size} * 1.75),
  'text-xxxl': calc(#{$text-base-size} * 2),
  'text-xxxxl': calc(#{$text-base-size} * 3)
);

// line heights
$line-heights: (
  'heading-line-height': 1.2,
  'body-line-height': 1.5
);

// font weights 
$font-weights: (
  'light': 300,
  'normal': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700
);

// Spacing
// -------

$spacer-unit: 1rem;
$spacer-none: 0;
$spacer-sm: 0.5 * $spacer-unit;
$spacer-md: $spacer-unit;
$spacer-lg: 1.5 * $spacer-unit;
$spacer-xl: 2 * $spacer-unit;
$spacer-xxl: 3 * $spacer-unit;
$spacer-xxxl: 5 * $spacer-unit;
$spacers: (
  none: $spacer-none,
  sm: $spacer-sm,
  md: $spacer-md,
  lg: $spacer-lg,
  xl: $spacer-xl,
  xxl: $spacer-xxl,
  xxxl: $spacer-xxxl
);

$negative-spacers: negativify-map($spacers) !default;

// Grid breakpoints
// ----------------

$breakpoints: (
  'sm': '(min-width: 36em)',
  'md': '(min-width: 48em)',
  'lg': '(min-width: 62em)'
);

// Body
// ----

$body-bg: $white !default;
$body-color: $black !default;
$body-styles: (
  'body-bg': $body-bg,
  'body-color': $body-color
) !default;

// Components
// ----------

// define common component styles.
$border-color: $gray-1;
$component-styles: (
  'border-color': $border-color
) !default;