@use 'functions' as *;

// 
// FicusJS settings
// 

// Color system
// ------------

$white: #fff !default;
$black: #000 !default;
$gray-10: #fafafa !default;
$gray-20: #dddddd !default;
$gray-30: #c0c0c0 !default;
$gray-40: #a4a4a4 !default;
$gray-50: #898989 !default;
$gray-60: #6f6f6f !default;
$gray-70: #565656 !default;
$gray-80: #3e3e3e !default;
$gray-90: #272727 !default;
$gray-100: #121212 !default;

$grays: (
  'white': $white,
  'black': $black,
  'gray-10': $gray-10,
  'gray-20': $gray-20,
  'gray-30': $gray-30,
  'gray-40': $gray-40,
  'gray-50': $gray-50,
  'gray-60': $gray-60,
  'gray-70': $gray-70,
  'gray-80': $gray-80,
  'gray-90': $gray-90,
  'gray-100': $gray-100
);

$primary-10: #b6f3f4 !default;
$primary-20: #9df0f0 !default;
$primary-30: #85ecec !default;
$primary-40: #6ce8e9 !default;
$primary-50: #54e4e5 !default;
$primary-60: #48c3c4 !default;
$primary-70: #3ca3a4 !default;
$primary-80: #308283 !default;
$primary-90: #246262 !default;
$primary-100: #184141 !default;
$primary: $primary-50 !default;

$secondary-10: #bcf3cd !default;
$secondary-20: #a6f0bd !default;
$secondary-30: #90ecac !default;
$secondary-40: #79e89c !default;
$secondary-50: #63e48b !default;
$secondary-60: #55c377 !default;
$secondary-70: #47a363 !default;
$secondary-80: #39824f !default;
$secondary-90: #2a623c !default;
$secondary-10: #1c4128 !default;
$secondary: $secondary-50 !default;

$body-bg: $white !default;
$body-color: $gray-100 !default;
$colors: (
  'primary': $primary,
  'primary-light': tint($primary, 20%),
  'primary-dark': shade($primary, 20%),
  'secondary': $secondary,
  'secondary-light': tint($secondary, 20%),
  'secondary-dark': shade($secondary, 20%),
  'body-bg': $body-bg,
  'body': $body-color,
  'high-emphasis-text': rgba($body-color, .87),
  'medium-emphasis-text': rgba($body-color, .6),
  'low-emphasis-text': rgba($body-color, .38),
);

$global-colors: map-merge($colors, $grays);

// Typography
// ----------

// font families
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$font-families: (
  'primary': $primary-font,
  'secondary': $secondary-font,
);

// base values
$text-base-size: 1rem;
$text-01: $text-base-size * 0.75;
$text-02: $text-base-size * 0.875;
$text-03: $text-base-size;
$text-04: $text-base-size * 1.25;
$text-05: $text-base-size * 1.5;
$text-06: $text-base-size * 2;
$text-07: $text-base-size * 3.75;
$text-08: $text-base-size * 5;
$type-scale: (
  '01': $text-01,
  '02': $text-02,
  '03': $text-03,
  '04': $text-04,
  '05': $text-05,
  '06': $text-06,
  '07': $text-07,
  '08': $text-08
);

// States
$state-required: #fa4d56; // change this!
$state-invalid: #fa4d56; // change this!
$state-valid: #42be65; // change this!
$state-focus: shade($primary, 20%); // change this!
$state-colors: (
  'required': $state-required,
  'invalid': $state-invalid,
  'valid': $state-valid,
  'focus': $state-focus
);

// line heights
$line-heights: (
  'heading-line-height': 1.2,
  'body-line-height': 1.5
);

// font weights 
$font-weights: (
  'light': 300,
  'normal': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700
);

// Spacing
// Use the spacing scale when building individual components.
// It includes small increments needed to create appropriate spatial relationships for detail-level designs.
// This scale is applied and used within all Carbon components.
// -------

$spacing-unit: 1rem;
$spacing-00: 0;
$spacing-01: 0.125 * $spacing-unit;
$spacing-02: 0.25 * $spacing-unit;
$spacing-03: 0.5 * $spacing-unit;
$spacing-04: 0.75 * $spacing-unit;
$spacing-05: $spacing-unit;
$spacing-06: 1.5 * $spacing-unit;
$spacing-07: 2 * $spacing-unit;
$spacing-08: 2.5 * $spacing-unit;
$spacing-09: 3 * $spacing-unit;
$spacings: (
  '00': $spacing-00,
  '01': $spacing-01,
  '02': $spacing-02,
  '03': $spacing-03,
  '04': $spacing-04,
  '05': $spacing-05,
  '06': $spacing-06,
  '07': $spacing-07,
  '08': $spacing-08,
  '09': $spacing-09
);

$negative-spacings: negativify-map($spacings) !default;

// Layout spacing
// The layout scale is used for arranging components and other UI parts into a full page layout.
// It has larger increments that are used to control the density of a design.
// Use the smaller layout tokens to create more dense compositions and direct relationships.
// Use the larger tokens to increase the amount of white space and to disassociate sections.
// --------------

$layout-unit: 1rem;
$layout-01: $layout-unit;
$layout-02: 1.5 * $layout-unit;
$layout-03: 2 * $layout-unit;
$layout-04: 3 * $layout-unit;
$layout-05: 4 * $layout-unit;
$layout-06: 6 * $layout-unit;
$layout-07: 10 * $layout-unit;
$layouts: (
  '01': $layout-01,
  '02': $layout-02,
  '03': $layout-03,
  '04': $layout-04,
  '05': $layout-05,
  '06': $layout-06,
  '07': $layout-07
);

$negative-layouts: negativify-map($layouts) !default;

// Grid breakpoints
// ----------------

$breakpoints: (
  'sm': '(min-width: 576px)',
  'md': '(min-width: 768px)',
  'lg': '(min-width: 992px)'
);

// Components
// ----------

// Elevations
$ui-elevation-background-01: $white;
$ui-elevation-background-02: $white;
$ui-elevation-background-03: $white;
$ui-elevation-background-04: $white;
$ui-elevation-background-05: $white;
$ui-elevation-background-06: $white;
$ui-elevation-background-07: $white;
$ui-elevation-background-08: $white;
$ui-elevation-background-09: $white;
$ui-elevation-shadow-01: 0 2px 1px -1px rgba($black,.2),0 1px 1px 0 rgba($black,.14),0 1px 3px 0 rgba($black,.12);
$ui-elevation-shadow-02: 0 3px 1px -2px rgba($black,.2),0 2px 2px 0 rgba($black,.14),0 1px 5px 0 rgba($black,.12);
$ui-elevation-shadow-03: 0 3px 3px -2px rgba($black,.2),0 3px 4px 0 rgba($black,.14),0 1px 8px 0 rgba($black,.12);
$ui-elevation-shadow-04: 0 2px 4px -1px rgba($black,.2),0 4px 5px 0 rgba($black,.14),0 1px 10px 0 rgba($black,.12);
$ui-elevation-shadow-05: 0 3px 5px -1px rgba($black,.2),0 6px 10px 0 rgba($black,.14),0 1px 18px 0 rgba($black,.12);
$ui-elevation-shadow-06: 0 5px 5px -3px rgba($black,.2),0 8px 10px 1px rgba($black,.14),0 3px 14px 2px rgba($black,.12);
$ui-elevation-shadow-07: 0 7px 8px -4px rgba($black,.2),0 12px 17px 2px rgba($black,.14),0 5px 22px 4px rgba($black,.12);
$ui-elevation-shadow-08: 0 8px 10px -5px rgba($black,.2),0 16px 24px 2px rgba($black,.14),0 6px 30px 5px rgba($black,.12);
$ui-elevation-shadow-09: 0 11px 15px -7px rgba($black,.2),0 24px 38px 3px rgba($black,.14),0 9px 46px 8px rgba($black,.12);
$ui-elevations: (
  'ui-elevation-background-01': $ui-elevation-background-01,
  'ui-elevation-background-02': $ui-elevation-background-02,
  'ui-elevation-background-03': $ui-elevation-background-03,
  'ui-elevation-background-04': $ui-elevation-background-04,
  'ui-elevation-background-05': $ui-elevation-background-05,
  'ui-elevation-background-06': $ui-elevation-background-06,
  'ui-elevation-background-07': $ui-elevation-background-07,
  'ui-elevation-background-08': $ui-elevation-background-08,
  'ui-elevation-background-09': $ui-elevation-background-09,
  'ui-elevation-shadow-01': $ui-elevation-shadow-01,
  'ui-elevation-shadow-02': $ui-elevation-shadow-02,
  'ui-elevation-shadow-03': $ui-elevation-shadow-03,
  'ui-elevation-shadow-04': $ui-elevation-shadow-04,
  'ui-elevation-shadow-05': $ui-elevation-shadow-05,
  'ui-elevation-shadow-06': $ui-elevation-shadow-06,
  'ui-elevation-shadow-07': $ui-elevation-shadow-07,
  'ui-elevation-shadow-08': $ui-elevation-shadow-08,
  'ui-elevation-shadow-09': $ui-elevation-shadow-09
) !default;

$ui-background: $white;
$ui-background-01: $gray-10;
$ui-background-02: $gray-20;
$ui-background-03: $gray-30;
$ui-background-04: $gray-40;
$ui-background-05: $gray-50;
$ui-background-06: $gray-60;
$ui-background-07: $gray-70;
$ui-background-08: $gray-80;
$ui-background-09: $gray-90;
$ui-background-10: $gray-100;
$ui-border-01: $gray-10;
$ui-border-02: $gray-20;
$ui-border-03: $gray-30;
$ui-border-04: $gray-40;
$ui-border-05: $gray-50;
$ui-border-06: $gray-60;
$ui-border-07: $gray-70;
$ui-border-08: $gray-80;
$ui-border-09: $gray-90;
$ui-border-10: $gray-100;
$ui-color: $black;
$ui-styles: (
  'ui-background': $ui-background,
  'ui-background-01': $ui-background-01,
  'ui-background-02': $ui-background-02,
  'ui-background-03': $ui-background-03,
  'ui-background-04': $ui-background-04,
  'ui-background-05': $ui-background-05,
  'ui-background-06': $ui-background-06,
  'ui-background-07': $ui-background-07,
  'ui-background-08': $ui-background-08,
  'ui-background-09': $ui-background-09,
  'ui-background-10': $ui-background-10,
  'ui-border-01': $ui-border-01,
  'ui-border-02': $ui-border-02,
  'ui-border-03': $ui-border-03,
  'ui-border-04': $ui-border-04,
  'ui-border-05': $ui-border-05,
  'ui-border-06': $ui-border-06,
  'ui-border-07': $ui-border-07,
  'ui-border-08': $ui-border-08,
  'ui-border-09': $ui-border-09,
  'ui-border-10': $ui-border-10,
  'ui-color': $ui-color
) !default;


// Border radius
$ui-border-radius-01: 2px;
$ui-border-radius-02: 4px;
$ui-border-radius-03: 8px;
$ui-border-radius: (
  'ui-border-radius-01': $ui-border-radius-01,
  'ui-border-radius-02': $ui-border-radius-02,
  'ui-border-radius-03': $ui-border-radius-02,
) !default;

// Dark theme
// ----------

// colours

$enable-dark-mode: true !default;

$dm-primary: #54e4e5 !default;
$dm-secondary: #63e48b !default;
$dm-body-bg: $gray-100 !default;
$dm-body-color: $white !default;
$dm-border-color: rgba($white, .1);
$dm-colors: (
  'primary': $dm-primary,
  'primary-light': tint($dm-primary, 20%),
  'primary-dark': shade($dm-primary, 20%),
  'secondary': $dm-secondary,
  'secondary-light': tint($dm-secondary, 20%),
  'secondary-dark': shade($dm-secondary, 20%),
  'body-bg': $dm-body-bg,
  'body': $dm-body-color,
  'high-emphasis-text': rgba($dm-body-color, .87),
  'medium-emphasis-text': rgba($dm-body-color, .6),
  'low-emphasis-text': rgba($dm-body-color, .38),
  'border': $dm-border-color
) !default;

// Components

// Elevations
$dm-ui-elevation-background-01: $gray-90;
$dm-ui-elevation-background-02: $gray-80;
$dm-ui-elevation-background-03: $gray-70;
$dm-ui-elevation-background-04: $gray-60;
$dm-ui-elevation-background-05: $gray-50;
$dm-ui-elevation-background-06: $gray-40;
$dm-ui-elevation-background-07: $gray-30;
$dm-ui-elevation-background-08: $gray-20;
$dm-ui-elevation-background-09: $gray-10;
$dm-ui-elevation-shadow-01: 0 2px 1px -1px rgba($black,.2),0 1px 1px 0 rgba($black,.14),0 1px 3px 0 rgba($black,.12);
$dm-ui-elevation-shadow-02: 0 3px 1px -2px rgba($black,.2),0 2px 2px 0 rgba($black,.14),0 1px 5px 0 rgba($black,.12);
$dm-ui-elevation-shadow-03: 0 3px 3px -2px rgba($black,.2),0 3px 4px 0 rgba($black,.14),0 1px 8px 0 rgba($black,.12);
$dm-ui-elevation-shadow-04: 0 2px 4px -1px rgba($black,.2),0 4px 5px 0 rgba($black,.14),0 1px 10px 0 rgba($black,.12);
$dm-ui-elevation-shadow-05: 0 3px 5px -1px rgba($black,.2),0 6px 10px 0 rgba($black,.14),0 1px 18px 0 rgba($black,.12);
$dm-ui-elevation-shadow-06: 0 5px 5px -3px rgba($black,.2),0 8px 10px 1px rgba($black,.14),0 3px 14px 2px rgba($black,.12);
$dm-ui-elevation-shadow-07: 0 7px 8px -4px rgba($black,.2),0 12px 17px 2px rgba($black,.14),0 5px 22px 4px rgba($black,.12);
$dm-ui-elevation-shadow-08: 0 8px 10px -5px rgba($black,.2),0 16px 24px 2px rgba($black,.14),0 6px 30px 5px rgba($black,.12);
$dm-ui-elevation-shadow-09: 0 11px 15px -7px rgba($black,.2),0 24px 38px 3px rgba($black,.14),0 9px 46px 8px rgba($black,.12);
$dm-ui-elevations: (
  'ui-elevation-background-01': $dm-ui-elevation-background-01,
  'ui-elevation-background-02': $dm-ui-elevation-background-02,
  'ui-elevation-background-03': $dm-ui-elevation-background-03,
  'ui-elevation-background-04': $dm-ui-elevation-background-04,
  'ui-elevation-background-05': $dm-ui-elevation-background-05,
  'ui-elevation-background-06': $dm-ui-elevation-background-06,
  'ui-elevation-background-07': $dm-ui-elevation-background-07,
  'ui-elevation-background-08': $dm-ui-elevation-background-08,
  'ui-elevation-background-09': $dm-ui-elevation-background-09,
  'ui-elevation-shadow-01': $dm-ui-elevation-shadow-01,
  'ui-elevation-shadow-02': $dm-ui-elevation-shadow-02,
  'ui-elevation-shadow-03': $dm-ui-elevation-shadow-03,
  'ui-elevation-shadow-04': $dm-ui-elevation-shadow-04,
  'ui-elevation-shadow-05': $dm-ui-elevation-shadow-05,
  'ui-elevation-shadow-06': $dm-ui-elevation-shadow-06,
  'ui-elevation-shadow-07': $dm-ui-elevation-shadow-07,
  'ui-elevation-shadow-08': $dm-ui-elevation-shadow-08,
  'ui-elevation-shadow-09': $dm-ui-elevation-shadow-09
) !default;

$dm-ui-background: $gray-100;
$dm-ui-background-01: $gray-90;
$dm-ui-background-02: $gray-80;
$dm-ui-background-03: $gray-70;
$dm-ui-background-04: $gray-60;
$dm-ui-background-05: $gray-50;
$dm-ui-background-06: $gray-40;
$dm-ui-background-07: $gray-30;
$dm-ui-background-08: $gray-20;
$dm-ui-background-09: $gray-10;
$dm-ui-background-10: $white;
$dm-ui-border-01: $gray-90;
$dm-ui-border-02: $gray-80;
$dm-ui-border-03: $gray-70;
$dm-ui-border-04: $gray-60;
$dm-ui-border-05: $gray-50;
$dm-ui-border-06: $gray-40;
$dm-ui-border-07: $gray-30;
$dm-ui-border-08: $gray-20;
$dm-ui-border-09: $gray-10;
$dm-ui-border-10: $white;
$dm-ui-color: $white;
$dm-ui-styles: (
  'ui-background-01': $dm-ui-background-01,
  'ui-background-02': $dm-ui-background-02,
  'ui-background-03': $dm-ui-background-03,
  'ui-background-04': $dm-ui-background-04,
  'ui-background-05': $dm-ui-background-05,
  'ui-background-06': $dm-ui-background-06,
  'ui-background-07': $dm-ui-background-07,
  'ui-background-08': $dm-ui-background-08,
  'ui-background-09': $dm-ui-background-09,
  'ui-background-10': $dm-ui-background-10,
  'ui-border-01': $dm-ui-border-01,
  'ui-border-02': $dm-ui-border-02,
  'ui-border-03': $dm-ui-border-03,
  'ui-border-04': $dm-ui-border-04,
  'ui-border-05': $dm-ui-border-05,
  'ui-border-06': $dm-ui-border-06,
  'ui-border-07': $dm-ui-border-07,
  'ui-border-08': $dm-ui-border-08,
  'ui-border-09': $dm-ui-border-09,
  'ui-border-10': $dm-ui-border-10,
  'ui-color': $dm-ui-color
) !default;
