// TODO - This needs to be a component and sorting out

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid var(--ui-border-02);
  border-right: 1px solid var(--ui-border-02);
  border-left: 1px solid var(--ui-border-02);
}

table thead {
  background-color: var(--ui-background-02);
}

table tbody {
  background-color: var(--ui-background-01);
}

table td,
table tbody th {
  border-top: 1px solid var(--ui-border-02);
  border-bottom: 1px solid var(--ui-border-02);
  margin: 0;
}

table code {
  word-break: normal;
}

table td,
table th {
  text-align: left;
  vertical-align: middle;
  padding: var(--spacing-04) var(--spacing-05);
}