// Table of contents

.fd-toc {
  font-size: var(--text-02);

  span {
    font-weight: 700;
  }
}

.fd-toc__nav {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ol {
    padding-left: var(--spacing-05);
    list-style: none;
  }

  a {
    display: block;
    color: var(--body-color);
    text-decoration: none;
    padding-top: calc(var(--spacing-03) / 2);
    padding-bottom: calc(var(--spacing-03) / 2);
  }

  a:focus,
  a:hover,
  a:active,
  a.fh-is-active {
    text-decoration: underline;
  }
}