h1,
.fu-text-07 {
  font-family: var(--font-primary);
  font-size: var(--text-07);
  line-height: var(--heading-line-height);
}

h2,
.fu-text-06 {
  font-family: var(--font-primary);
  font-size: var(--text-06);
  line-height: var(--heading-line-height);
}

h3,
.fu-text-05 {
  font-family: var(--font-primary);
  font-size: var(--text-05);
  line-height: var(--heading-line-height);
}

h4,
.fu-text-04 {
  font-family: var(--font-primary);
  font-size: var(--text-04);
  line-height: var(--heading-line-height);
}

h5,
.fu-text-03 {
  font-family: var(--font-primary);
  font-size: var(--text-03);
  line-height: var(--heading-line-height);
}

h6,
.fu-text-02 {
  font-family: var(--font-primary);
  font-size: var(--text-03);
  line-height: var(--heading-line-height);
}

p,
.fu-text-base {
  color: var(--high-emphasis-text-color);
  line-height: var(--body-line-height);
}