@import 'utilities/flow';
@import 'utilities/wrapper';

// Utility class generator
// -----------------------

$utilities: (
  // colors
  'bg': (
    'items': $global-colors,
    'output': 'standard',
    'property': 'background'
  ),
  'color': (
    'items': $global-colors,
    'output': 'standard',
    'property': 'color'
  ),
  // typography
  'font-family': (
    'items': $font-families,
    'output': 'standard',
    'property': 'font-family'
  ),
  'font-weight': (
    'items': $font-weights,
    'output': 'standard',
    'property': 'font-weight'
  ),
  // text
  'text-align': (
    'items': (
      'center': 'center',
      'left': 'left',
      'right': 'right',
      'justify': 'justify'
    ),
    'output': 'standard',
    'property': 'text-align'
  ),
  'text-transform': (
    'items': (
      'uppercase': 'uppercase',
      'capitalize': 'capitalize'
    ),
    'output': 'standard',
    'property': 'text-transform'
  ),
  // spacings
  // margin
  'spacing-m': (
    'items': $spacings,
    'output': 'responsive',
    'property': 'margin-top'
  ),
  'spacing-mt': (
    'items': $spacings,
    'output': 'responsive',
    'property': 'margin-top'
  ),
  'spacing-mb': (
    'items': $spacings,
    'output': 'responsive',
    'property': 'margin-bottom'
  ),
  'spacing-ml': (
    'items': $spacings,
    'output': 'responsive',
    'property': 'margin-left'
  ),
  'spacing-mr': (
    'items': $spacings,
    'output': 'responsive',
    'property': 'margin-right'
  ),
  // negative margin
  'spacing-n-m': (
    'items': $negative-spacings,
    'output': 'responsive',
    'property': 'margin-top'
  ),
  'spacing-n-mr': (
    'items': $negative-spacings,
    'output': 'responsive',
    'property': 'margin-right'
  ),
  'spacing-n-mb': (
    'items': $negative-spacings,
    'output': 'responsive',
    'property': 'margin-bottom'
  ),
  'spacing-n-ml': (
    'items': $negative-spacings,
    'output': 'responsive',
    'property': 'margin-left'
  ),
  // padding
  'spacing-p': (
    'items': $spacings,
    'output': 'responsive',
    'property': 'padding'
  ),
  'spacing-pt': (
    'items': $spacings,
    'output': 'responsive',
    'property': 'padding-top'
  ),
  'spacing-pr': (
    'items': $spacings,
    'output': 'responsive',
    'property': 'padding-right'
  ),
  'spacing-pb': (
    'items': $spacings,
    'output': 'responsive',
    'property': 'padding-bottom'
  ),
  'spacing-pl': (
    'items': $spacings,
    'output': 'responsive',
    'property': 'padding-left'
  ),
  // layout spacing
  // margin
  'layout-m': (
    'items': $layouts,
    'output': 'responsive',
    'property': 'margin-top'
  ),
  'layout-mt': (
    'items': $layouts,
    'output': 'responsive',
    'property': 'margin-top'
  ),
  'layout-mb': (
    'items': $layouts,
    'output': 'responsive',
    'property': 'margin-bottom'
  ),
  'layout-ml': (
    'items': $layouts,
    'output': 'responsive',
    'property': 'margin-left'
  ),
  'layout-mr': (
    'items': $layouts,
    'output': 'responsive',
    'property': 'margin-right'
  ),
  // negative margin
  'layout-n-m': (
    'items': $negative-layouts,
    'output': 'responsive',
    'property': 'margin-top'
  ),
  'layout-n-mr': (
    'items': $negative-layouts,
    'output': 'responsive',
    'property': 'margin-right'
  ),
  'layout-n-mb': (
    'items': $negative-layouts,
    'output': 'responsive',
    'property': 'margin-bottom'
  ),
  'layout-n-ml': (
    'items': $negative-layouts,
    'output': 'responsive',
    'property': 'margin-left'
  ),
  // padding
  'layout-p': (
    'items': $layouts,
    'output': 'responsive',
    'property': 'padding'
  ),
  'layout-pt': (
    'items': $layouts,
    'output': 'responsive',
    'property': 'padding-top'
  ),
  'layout-pr': (
    'items': $layouts,
    'output': 'responsive',
    'property': 'padding-right'
  ),
  'layout-pb': (
    'items': $layouts,
    'output': 'responsive',
    'property': 'padding-bottom'
  ),
  'layout-pl': (
    'items': $layouts,
    'output': 'responsive',
    'property': 'padding-left'
  ),
  'stack': (
    'items': (
      '300': 0,
      '400': 10,
      '500': 20,
      '600': 30,
      '700': 40
    ),
    'output': 'standard',
    'property': 'z-index'
  ),
  'width': (
    'items': (
      'full': '100%',
      'half': percentage(1/2),
      'quarter': percentage(1/4),
      'third': percentage(1/3)
    ),
    'output': 'responsive',
    'property': 'width'
  ),
  'breakpoints': (
    $breakpoints
  )
);
